.jq-selectbox
  height: 40px
  width: auto
  display: inline-block
  vertical-align: top
  +border-radius(3px)
  cursor: pointer
  border: 1px solid #edeef0
  background: #f0f2f7
  &.select-search
    .jq-selectbox__select
      .jq-selectbox__trigger
        display: none
  .jq-selectbox__search
    input
      display: block
      width: 100%
      height: 50px
      @include fonts(15px, 43px, 400)
      padding: 0 20px
      color: #958e8e
      border: 2px solid #B3B3B3
      border-bottom: none
      background: #fff
  .jq-selectbox__not-found[style] + ul
    box-shadow: none

  &.opened

    .jq-selectbox__select
      .jq-selectbox__trigger
        .jq-selectbox__trigger-arrow
          margin: -7px -5px 0 0
          transform: rotate(180deg)
  .jq-selectbox__select
    .jq-selectbox__select-text
      height: 35px
      @include fonts(15px, 38px, 400)
      color: #898989
      padding-right: 40px
      padding-left: 10px
      width: auto !important
      max-width: 100%
    .jq-selectbox__trigger
      display: block
      position: absolute
      top: 0
      right: 0
      height: 100%
      width: 40px
      .jq-selectbox__trigger-arrow
        //background: url("../img/select.svg") center center no-repeat
        //-webkit-background-size: 100% 100%
        //background-size: 100% 100%
        border: 5px solid transparent
        border-top: 5px solid #9b9b9b
        content: ""
        position: absolute
        margin: -3px -5px 0 0
        top: 50%
        right: 50%
        //width: 14px
        //height: 8px
        transform: rotate(0deg)
        opacity: 1
  .jq-selectbox__dropdown
    position: absolute
    top: 40px !important
    left: -1px !important
    right: -1px !important
    width: auto !important
    bottom: auto !important
    ul
      box-shadow: none
      display: block
      width: 100%
      position: absolute
      top: 0
      min-width: 155px
      max-height: 365px !important
      background: #fff
      border: 1px solid #E6E6E6
      padding: 0 0
      margin: 0
      list-style: none
      +border-radius(0px)
      overflow-y: auto
      &::-webkit-scrollbar-thumb
        background-color: #DFDFDF
      &::-webkit-resizer
        width: 6px
      &::-webkit-scrollbar
        width: 6px
        background: #f6f6f6
      li
        @include fonts(14px, 16px, 400)
        padding: 10px 10px 12px 10px
        @include transition-dr(300ms)
        white-space: normal
        color: #000
        border-bottom: 1px solid #edeef0
        display: block
        width: 100%
        &:last-child
          border-bottom: none
        &:hover
          background: #edeef0


.qty
  .jq-number
    position: relative
    display: inline-block
    vertical-align: top
    width: 120px
    border: none
    background: #fff

    .jq-number__spin
      width: 28px
      height: 28px
      position: absolute
      top: 0
      cursor: pointer
      border: 2px solid $red
      +border-radius(10px)
    .minus
      left: 0
      &:before
        content: ""
        position: absolute
        top: 11px
        left: 6px
        height: 2px
        background: $red
        width: 12px
    .plus
      right: 0
      &:before
        content: ""
        position: absolute
        top: 11px
        left: 6px
        height: 2px
        background: $red
        width: 12px
      &:after
        content: ""
        position: absolute
        top: 7px
        left: 11px
        height: 12px
        background: $red
        width: 2px
    .jq-number__field
      input
        opacity: 1 !important
        width: 100%
        padding: 0 24px
        display: block
        text-align: center
        @include fonts(20px, 30px, 600)
        border: none
        background: none

@media (max-width: 991px)
 