@charset "UTF-8";
.nav-tabs:after, .checkbox:after, .agree-block:after, .radiobox:after, .modal-city-box .attr-val:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

input:focus, a:focus, input:active, a:active {
  outline: none; }

@media (min-width: 992px) {
  /* START ╤Б╨║╤А╨╛╨╗ */
  ::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 10px;
    height: 0px; }

  ::-webkit-scrollbar-track {
    background-color: transparent; }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #c8c8c8;
    cursor: pointer;
    background-size: 100% 100%; }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #b4b2b2; }

  ::-webkit-resizer {
    background-repeat: no-repeat;
    width: 10px;
    height: 0px; }

  ::-webkit-scrollbar {
    width: 10px; }

  ::-webkit-scrollbar:horizontal {
    height: 10px; }

  ::-webkit-scrollbar-button {
    display: none; } }
/* END ╤Б╨║╤А╨╛╨╗ */
.modal-open {
  padding: 0 0 !important; }

*:active, *:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

body {
  padding: 0 0 0 0;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  background: #f7f8fb;
  position: relative;
  min-height: 100vh; }

@media (max-width: 991px) {
  body {
    padding: 0 0 0 0; } }
.no-scroll {
  overflow: hidden; }

a {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms; }

h1, .h1, h2, .h2 {
  color: #1E1E1E;
  font-size: 36px;
  line-height: 38px;
  font-weight: 800;
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 25px;
  position: relative; }

@media (max-width: 991px) {
  h1, .h1, h2, .h2 {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 800; } }
@media (max-width: 575px) {
  h1, .h1, h2, .h2 {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 800; } }
.clearfix {
  clear: both; }

.form-control::-webkit-input-placeholder {
  color: #aaaaaa !important; }

.form-control::-moz-placeholder {
  color: #aaaaaa !important; }

.form-control:-ms-input-placeholder {
  color: #aaaaaa !important; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

strong, b {
  font-weight: 700;
  color: #000; }

.section-text {
  padding: 155px 0; }
  .section-text .text-formatted {
    margin-bottom: 60px; }

.section-text {
  padding: 50px 0 20px 0; }
  .section-text .text-formatted {
    margin-bottom: 30px; }

.text-formatted {
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
  position: relative;
  color: #4F4F4F; }
  .text-formatted a {
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }
  .text-formatted strong, .text-formatted b {
    font-weight: 700;
    color: #000; }
  .text-formatted p {
    font-size: 18px;
    line-height: 36px;
    font-weight: 300;
    position: relative;
    color: #4F4F4F;
    margin-bottom: 15px; }
  .text-formatted a {
    border-bottom: 1px solid #000;
    text-decoration: none !important;
    color: #000; }
    .text-formatted a:hover {
      color: #000;
      border-color: transparent; }
  .text-formatted ul {
    margin-bottom: 15px; }
    .text-formatted ul li {
      position: relative;
      padding: 0 0 0 20px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      margin-bottom: 5px; }
      .text-formatted ul li:before {
        content: "";
        width: 3px;
        height: 3px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        top: 6px;
        left: 0;
        background: #000; }

.margin-15 {
  margin-left: -15px;
  margin-right: -15px; }

.form-control:focus, .form-control:active {
  box-shadow: none !important;
  outline: none !important; }

.form-group {
  margin-bottom: 10px; }

input.form-control {
  border: none;
  background: #f0f2f7 !important;
  color: #303030 !important;
  font-size: 11px;
  line-height: 40px;
  font-weight: 400;
  height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px; }
  input.form-control:focus, input.form-control:active {
    box-shadow: none !important;
    color: #000; }

textarea.form-control {
  border: none;
  background: #f0f2f7 !important;
  color: #aaaaaa !important;
  font-size: 11px;
  line-height: 40px;
  font-weight: 400;
  height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  min-height: 85px;
  max-height: 150px;
  overflow: hidden;
  resize: vertical; }
  textarea.form-control:focus, textarea.form-control:active {
    box-shadow: none !important;
    color: #000; }

label.error {
  color: #FF0025;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400; }

.form-group {
  margin-bottom: 15px; }
  .form-group .label {
    color: #000;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 5px; }
    .form-group .label span {
      color: #FF0025; }

.slick-slider {
  opacity: 0; }
  .slick-slider.slick-initialized {
    opacity: 1; }
  .slick-slider.slick-dotted {
    margin: 0 0 70px 0; }
  .slick-slider .slick-dots {
    text-align: center;
    font-size: 0;
    line-height: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    bottom: -68px;
    left: 0;
    right: 0; }
    .slick-slider .slick-dots li {
      display: inline-block;
      vertical-align: top; }
      .slick-slider .slick-dots li.slick-active button {
        background: #11E44C;
        opacity: 1; }
      .slick-slider .slick-dots li button {
        font-size: 0;
        padding: 0;
        width: 8px;
        height: 8px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        margin: 0 5px;
        background: #033BD8;
        opacity: 1;
        -webkit-transition-duration: 300ms;
        -moz-transition-duration: 300ms;
        -ms-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
        border: none;
        cursor: pointer; }
        .slick-slider .slick-dots li button:hover {
          background: #033BD8;
          opacity: 1; }
        .slick-slider .slick-dots li button:before {
          display: none; }
  .slick-slider.arrow-bottom .slick-arrow {
    bottom: 0;
    top: auto;
    margin: 0 0 0 0; }
  .slick-slider .slick-arrow {
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
    width: 64px;
    height: 64px;
    background: #fff;
    padding: 0;
    font-size: 0;
    position: absolute;
    top: 50%;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    margin: -32px 0 0 0; }
    .slick-slider .slick-arrow:hover {
      background: #033BD8; }
      .slick-slider .slick-arrow:hover:before {
        opacity: 0; }
      .slick-slider .slick-arrow:hover:after {
        opacity: 1; }
    .slick-slider .slick-arrow:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/slider-arrow.svg) center center no-repeat;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms; }
    .slick-slider .slick-arrow:after {
      opacity: 0;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: url(../img/slider-arrow-hover.svg) center center no-repeat;
      width: 100%;
      overflow: hidden;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms; }
    .slick-slider .slick-arrow.slick-prev {
      left: -110px;
      right: auto; }
      .slick-slider .slick-arrow.slick-prev:before, .slick-slider .slick-arrow.slick-prev:after {
        left: auto;
        right: 0;
        transform: rotate(180deg); }
    .slick-slider .slick-arrow.slick-next {
      right: -110px; }

@media (max-width: 1400px) {
  .slick-slider .slick-arrow {
    display: none !important; } }
@media (max-width: 991px) {
  .slick-slider {
    margin: 0 0 50px; }
    .slick-slider.slick-dotted {
      margin: 0 0 30px 0; }
    .slick-slider .slick-dots {
      bottom: -30px;
      display: block !important; } }
.nav-tabs {
  border: 2px solid #F1274C;
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden; }
  .nav-tabs .nav-item {
    margin: 0 0;
    float: left; }
  .nav-tabs .nav-link {
    min-width: 148px;
    text-align: center;
    color: #464646;
    text-decoration: none !important;
    background: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    display: block;
    font-size: 16px;
    line-height: 52px;
    font-weight: 600;
    padding: 0 5px;
    position: relative;
    border: none; }
    .nav-tabs .nav-link.active {
      background: #F1274C;
      color: #fff; }

.scroll-up {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  position: fixed;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #4571AD url("../img/scroll.svg") center center no-repeat;
  -webkit-background-size: 12px auto;
  background-size: 12px auto;
  transform: rotate(90deg);
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 400; }
  .scroll-up:hover {
    background-color: #44404F; }

@media (max-width: 767px) {
  .scroll-up {
    right: 15px;
    bottom: 30px; } }
.btn {
  background: #2a62fb;
  box-shadow: none;
  color: #fff;
  font-size: 11px;
  line-height: 40px;
  font-weight: 400;
  position: relative;
  padding: 0 15px;
  height: 40px;
  letter-spacing: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  border: none;
  display: inline-block;
  vertical-align: top;
  text-decoration: none !important;
  width: 100%;
  max-width: 450px; }
  .btn:hover {
    background: #4571AD;
    color: #fff; }
  .btn.btn-submit {
    padding: 0 0; }
  .btn input {
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    background: none;
    color: #ffffff;
    display: block;
    border: none;
    width: 100%; }
  .btn.white {
    background: #ffffff;
    color: #000;
    border-color: #ffffff; }
    .btn.white input {
      color: #000; }
    .btn.white:hover {
      background: #000;
      color: #fff;
      border-color: #fff; }
      .btn.white:hover input {
        color: #fff; }

.btn-outline {
  background: transparent;
  box-shadow: none;
  color: #2a62fb;
  font-size: 11px;
  line-height: 40px;
  font-weight: 400;
  position: relative;
  padding: 0 15px;
  height: 40px;
  letter-spacing: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  border: 1px solid #2a62fb;
  display: inline-block;
  vertical-align: top;
  text-decoration: none !important;
  width: 100%;
  max-width: 450px; }
  .btn-outline:hover {
    background: #2a62fb;
    border-color: #2a62fb;
    color: #fff; }
  .btn-outline.blue {
    color: #4571AD;
    border: 2px solid #4571AD;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    box-shadow: none; }
    .btn-outline.blue:hover {
      background: #4571AD;
      color: #fff; }

.link-back {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  padding: 0 0 0 25px;
  text-decoration: none !important;
  background: url(../img/arrow-left.png) 0px 2px no-repeat;
  -webkit-background-size: 15px auto;
  background-size: 15px auto; }

@media (max-width: 991px) {
  .btn {
    text-transform: none; } }
.btn.focus, .btn:focus, btn:active {
  box-shadow: none !important; }

.jq-selectbox {
  height: 40px;
  width: auto;
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #edeef0;
  background: #f0f2f7; }
  .jq-selectbox.select-search .jq-selectbox__select .jq-selectbox__trigger {
    display: none; }
  .jq-selectbox .jq-selectbox__search input {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 43px;
    font-weight: 400;
    padding: 0 20px;
    color: #958e8e;
    border: 2px solid #B3B3B3;
    border-bottom: none;
    background: #fff; }
  .jq-selectbox .jq-selectbox__not-found[style] + ul {
    box-shadow: none; }
  .jq-selectbox.opened .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
    margin: -7px -5px 0 0;
    transform: rotate(180deg); }
  .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
    height: 35px;
    font-size: 15px;
    line-height: 38px;
    font-weight: 400;
    color: #898989;
    padding-right: 40px;
    padding-left: 10px;
    width: auto !important;
    max-width: 100%; }
  .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px; }
    .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
      border: 5px solid transparent;
      border-top: 5px solid #9b9b9b;
      content: "";
      position: absolute;
      margin: -3px -5px 0 0;
      top: 50%;
      right: 50%;
      transform: rotate(0deg);
      opacity: 1; }
  .jq-selectbox .jq-selectbox__dropdown {
    position: absolute;
    top: 40px !important;
    left: -1px !important;
    right: -1px !important;
    width: auto !important;
    bottom: auto !important; }
    .jq-selectbox .jq-selectbox__dropdown ul {
      box-shadow: none;
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      min-width: 155px;
      max-height: 365px !important;
      background: #fff;
      border: 1px solid #E6E6E6;
      padding: 0 0;
      margin: 0;
      list-style: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      overflow-y: auto; }
      .jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
        background-color: #DFDFDF; }
      .jq-selectbox .jq-selectbox__dropdown ul::-webkit-resizer {
        width: 6px; }
      .jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar {
        width: 6px;
        background: #f6f6f6; }
      .jq-selectbox .jq-selectbox__dropdown ul li {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        padding: 10px 10px 12px 10px;
        -webkit-transition-duration: 300ms;
        -moz-transition-duration: 300ms;
        -ms-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
        white-space: normal;
        color: #000;
        border-bottom: 1px solid #edeef0;
        display: block;
        width: 100%; }
        .jq-selectbox .jq-selectbox__dropdown ul li:last-child {
          border-bottom: none; }
        .jq-selectbox .jq-selectbox__dropdown ul li:hover {
          background: #edeef0; }

.qty .jq-number {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 120px;
  border: none;
  background: #fff; }
  .qty .jq-number .jq-number__spin {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    cursor: pointer;
    border: 2px solid #FF0025;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
  .qty .jq-number .minus {
    left: 0; }
    .qty .jq-number .minus:before {
      content: "";
      position: absolute;
      top: 11px;
      left: 6px;
      height: 2px;
      background: #FF0025;
      width: 12px; }
  .qty .jq-number .plus {
    right: 0; }
    .qty .jq-number .plus:before {
      content: "";
      position: absolute;
      top: 11px;
      left: 6px;
      height: 2px;
      background: #FF0025;
      width: 12px; }
    .qty .jq-number .plus:after {
      content: "";
      position: absolute;
      top: 7px;
      left: 11px;
      height: 12px;
      background: #FF0025;
      width: 2px; }
  .qty .jq-number .jq-number__field input {
    opacity: 1 !important;
    width: 100%;
    padding: 0 24px;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    border: none;
    background: none; }

.jq-selectbox.select-style {
  width: 100%;
  margin-bottom: 5px;
  background: #9d9d9c;
  border: none; }
  .jq-selectbox.select-style.color-1 {
    background: #0f0e5e; }
  .jq-selectbox.select-style.color-2 {
    background: #2a62fb; }
  .jq-selectbox.select-style.color-3 {
    background: #fa5482; }
  .jq-selectbox.select-style.color-4 {
    background: #9d9d9c; }
  .jq-selectbox.select-style.opened .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
    margin: -3px -5px 0 0; }
  .jq-selectbox.select-style .jq-selectbox__select .jq-selectbox__select-text {
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    font-weight: 600;
    color: #fff; }
  .jq-selectbox.select-style .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
    border: none;
    background: url(../img/select-w.svg) center no-repeat;
    -webkit-background-size: 7px auto;
    background-size: 7px auto;
    width: 7px;
    height: 7px; }

.select-custom {
  cursor: pointer;
  width: 35px;
  position: relative; }
  .select-custom.active .select-hide {
    display: block; }
  .select-custom .ic {
    text-align: right; }
    .select-custom .ic div {
      font-size: 0;
      line-height: 0; }
    .select-custom .ic span {
      background: #898989;
      display: inline-block;
      vertical-align: top;
      width: 3px;
      height: 3px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin: 0 0 1px 0; }
  .select-custom .select-hide {
    background: #fff;
    display: none;
    width: 180px;
    position: absolute;
    top: 20px;
    right: 0;
    border: 1px solid #d0d0d0;
    z-index: 100;
    text-align: left; }
    .select-custom .select-hide ul li {
      border-bottom: 1px solid #f3f3f3;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      padding: 10px 10px;
      color: #212529; }
      .select-custom .select-hide ul li:hover {
        background: #f3f3f3; }

.checkbox {
  margin: 0 0 15px 0; }
  .checkbox.select-all label:after {
    border-color: #CDCDCD; }
  .checkbox.select-all input:checked + label:after {
    border-color: #B89E7F; }
  .checkbox.no-active label:after {
    background: #959595 url(../img/check.svg) center no-repeat;
    -webkit-background-size: 7px auto;
    background-size: 7px auto; }
  .checkbox input {
    width: 10px;
    height: 10px;
    background: none;
    display: block;
    opacity: 0;
    float: left; }
    .checkbox input:checked + label:before {
      opacity: 1; }
    .checkbox input[checked="checked"] + label:before {
      opacity: 1; }
    .checkbox input[checked="checked"] + label {
      color: #000; }
  .checkbox input:checked + label {
    color: #000 !important; }
  .checkbox label {
    cursor: pointer;
    padding: 1px 0 0 15px;
    font-size: 11px;
    line-height: 15px;
    font-weight: 500;
    color: #303030;
    margin: 0;
    position: relative;
    display: block;
    text-align: left; }
    .checkbox label:before {
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;
      opacity: 0;
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 10px;
      height: 10px;
      background: #2a62fb url(../img/check.svg) center no-repeat;
      -webkit-background-size: 7px auto;
      background-size: 7px auto;
      z-index: 2;
      -webkit-border-radius: 0%;
      -moz-border-radius: 0%;
      -ms-border-radius: 0%;
      border-radius: 0%; }
    .checkbox label:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border: 1px solid #303030;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      border-radius: 1px;
      display: block;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms; }
    .checkbox label a {
      font-weight: 600;
      color: #2a62fb;
      border-bottom: 1px solid transparent;
      text-decoration: none; }
      .checkbox label a:hover {
        border-color: #2a62fb; }
  .checkbox label.error {
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    padding: 0; }
  .checkbox input.error + label + label:before {
    opacity: 0; }
  .checkbox input.error + label + label:after {
    border-color: #FF0025; }
  .checkbox input.valid + label + label:before {
    opacity: 1; }
  .checkbox input.valid + label + label:after {
    border-color: #B89E7F; }

.agree-block input {
  width: 15px;
  height: 18px;
  background: none;
  display: block;
  opacity: 0;
  float: left; }
  .agree-block input:checked + label:before {
    opacity: 1; }
.agree-block label {
  cursor: pointer;
  padding: 0 0 0 40px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #000;
  margin: 0;
  position: relative;
  display: block; }
  .agree-block label:before {
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    opacity: 0;
    content: "";
    position: absolute;
    top: 8px;
    left: 6px;
    width: 10px;
    height: 10px;
    background: #B89E7F;
    z-index: 2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .agree-block label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border: 1px solid #B89E7F;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: block; }
  .agree-block label a {
    color: #B89E7F;
    border-bottom: 1px solid #B89E7F;
    text-decoration: none; }
    .agree-block label a:hover {
      border-color: transparent; }
.agree-block label.error {
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  padding: 0; }
.agree-block input.error + label + label:before {
  opacity: 0; }
.agree-block input.error + label + label:after {
  border-color: #FF0025; }
.agree-block input.valid + label + label:before {
  opacity: 1; }
.agree-block input.valid + label + label:after {
  border-color: #B89E7F; }

.text-switch {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  color: #000; }
  .text-switch.left {
    margin: 0 5px 0 0; }
  .text-switch.right {
    margin-left: 5px; }

.checkbox-switch {
  height: 13px;
  cursor: pointer;
  display: block;
  vertical-align: top;
  position: relative; }
  .checkbox-switch input {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer; }
    .checkbox-switch input:checked + label:before {
      left: 15px; }
  .checkbox-switch label {
    padding: 0 0 0 35px;
    display: block;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    cursor: pointer;
    text-transform: lowercase; }
    .checkbox-switch label:first-letter {
      text-transform: uppercase; }
    .checkbox-switch label:after {
      width: 26px;
      height: 14px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      cursor: pointer;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      background: #707070; }
    .checkbox-switch label:before {
      z-index: 2;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;
      content: "";
      width: 8px;
      height: 8px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 6px;
      left: 2px;
      background: #ffffff; }

.radiobox {
  margin: 0 0 15px 0; }
  .radiobox.select-all label:after {
    border-color: #CDCDCD; }
  .radiobox.select-all input:checked + label:after {
    border-color: #B89E7F; }
  .radiobox input {
    width: 20px;
    height: 20px;
    background: none;
    display: block;
    opacity: 0;
    float: left; }
    .radiobox input:checked + label:before {
      opacity: 1; }
    .radiobox input[checked="radio"] + label:before {
      opacity: 1; }
    .radiobox input[checked="radio"] + label {
      color: #000; }
  .radiobox input:checked + label {
    color: #000 !important; }
  .radiobox label {
    cursor: pointer;
    padding: 1px 0 0 30px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
    margin: 0;
    position: relative;
    display: block;
    text-align: left;
    text-transform: none; }
    .radiobox label:before {
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;
      opacity: 0;
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      background: #000;
      z-index: 2;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .radiobox label:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 1px solid #000;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      display: block;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms; }

.modal {
  background: rgba(0, 0, 0, 0.7); }
  .modal .modal-dialog {
    max-width: 800px; }
  .modal .modal-content {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    padding: 0 0;
    position: relative;
    box-shadow: none; }

.modal-dialog .modal-header {
  position: relative;
  z-index: 10;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  display: block;
  padding: 45px 0 45px 0;
  margin: 0 10px 0 10px;
  border-bottom: 1px solid #D7D7D7; }
.modal-dialog .modal-body {
  padding: 20px;
  margin: 0 0; }
.modal-dialog .modal-title {
  font-size: 30px;
  line-height: 100%;
  font-weight: 700;
  color: #1E1E1E;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
  position: relative; }
.modal-dialog .close {
  width: 35px;
  height: 35px;
  background: url(../img/close.svg) center center no-repeat;
  -webkit-background-size: 34px;
  background-size: 34px;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 14px;
  top: 12px;
  font-size: 0;
  font-weight: 400;
  color: #fff;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  transform: rotate(0deg);
  opacity: 0.9;
  text-shadow: none;
  z-index: 100; }
  .modal-dialog .close span {
    display: none; }

@media (max-width: 991px) {
  .modal {
    padding-left: 15px !important;
    padding-right: 15px !important; }
    .modal .modal-body {
      padding: 15px; }
    .modal .close {
      top: 5px;
      right: 5px; }
    .modal .modal-content {
      padding: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
    .modal .modal-dialog {
      max-width: 100%; } }
@media (max-width: 767px) {
  .modal .modal-body {
    padding: 45px 15px 15px 15px; } }
.modal-city-box .image img {
  width: 100%; }
.modal-city-box .map {
  margin: 20px 0 0 0; }
.modal-city-box .title-top {
  padding: 0 30px 0 0;
  color: #626262;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase; }
.modal-city-box .title {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 25px; }
.modal-city-box .attr-val {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #626262; }
  .modal-city-box .attr-val .attr {
    float: left;
    width: 35%; }
  .modal-city-box .attr-val .val {
    float: left;
    width: 65%; }

@media (max-width: 767px) {
  .modal-city-box .image {
    margin-bottom: 20px; } }
.container {
  max-width: 1200px; }

@media (max-width: 991px) {
  .container {
    max-width: 100%; } }

/*# sourceMappingURL=index.css.map */
