.itg-user-item:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

.itg-video-item {
  position: relative;
  margin: 0 0 30px 0; }
  .itg-video-item .itg-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2; }
  .itg-video-item .img {
    position: relative; }
    .itg-video-item .img img {
      width: 100%;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      display: block; }
  .itg-video-item.blur .img img {
    filter: blur(3px); }

.itg-video-item-title {
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
  background: #15437B;
  -webkit-border-radius: 0 10px;
  -moz-border-radius: 0 10px;
  -ms-border-radius: 0 10px;
  border-radius: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  min-width: 121px;
  padding: 0 10px;
  text-align: center; }

.itg-video-item-text {
  font-family: "Montserrat";
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.itg-page {
  font-family: "HelveticaNeueCyr"; }

.itg-video-list h1, .itg-video-list h2, .itg-video-list h3 {
  font-family: "HelveticaNeueCyr";
  text-align: center;
  font-size: 32px;
  line-height: 39px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  margin: 10px 0 40px 0; }

.itg-mb-40 {
  margin-bottom: 40px; }

.itg-text-formatted {
  color: #000;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  font-family: "HelveticaNeueCyr"; }
  .itg-text-formatted h1, .itg-text-formatted h2, .itg-text-formatted h3 {
    font-family: "HelveticaNeueCyr";
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px; }

.itg-pt-20 {
  padding-top: 20px; }

.itg-pb-50 {
  padding-bottom: 50px; }

.max-w-840 {
  max-width: 840px;
  text-align: center;
  margin: 0 auto; }

.itg-section {
  padding: 40px 0;
  overflow: hidden; }

.itg-bg-yellow .itg-text-formatted, .itg-bg-blue .itg-text-formatted {
  color: #fff; }
  .itg-bg-yellow .itg-text-formatted h2 span, .itg-bg-blue .itg-text-formatted h2 span {
    color: #BB3518; }

.itg-bg-blue {
  background: #15507B; }

.itg-bg-yellow {
  background: #DBBE00; }

.itg-video-block {
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }
  .itg-video-block:hover .play {
    background: rgba(187, 53, 24, 0.7); }
  .itg-video-block .link-video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; }
  .itg-video-block .play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 116px;
    height: 116px;
    background: rgba(187, 53, 24, 0.47);
    border: 1px solid #E43335;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(32px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: -58px 0 0 -58px;
    cursor: pointer;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }
    .itg-video-block .play:after {
      content: "";
      background: url(../img/play.svg) no-repeat;
      -webkit-background-size: 29px 34px;
      background-size: 29px 34px;
      width: 29px;
      height: 34px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -17px 0 0 -11px; }

@keyframes animatedBackgroundRight {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }
@keyframes animatedBackgroundLeft {
  from {
    background-position: 0 0; }
  to {
    background-position: -100% 0; } }
.icontext {
  padding: 55px 0 65px 0;
  position: relative;
  margin: 30px 0 50px 0; }
  .icontext:before {
    content: "";
    height: 17px;
    background: url(../img/bgicontext.svg) repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    animation: animatedBackgroundRight 10s linear infinite; }
  .icontext:after {
    content: "";
    height: 17px;
    background: url(../img/bgicontext.svg) repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    animation: animatedBackgroundLeft 10s linear infinite; }
  .icontext.style-2:before {
    background: url(../img/bgicontext3.svg) repeat-x; }
  .icontext.style-2:after {
    background: url(../img/bgicontext3.svg) repeat-x; }
  .icontext.style-3:before {
    background: url(../img/bgicontext4.svg) repeat-x; }
  .icontext.style-3:after {
    background: url(../img/bgicontext4.svg) repeat-x; }
  .icontext .img {
    text-align: center; }

.icontext-2 {
  padding: 55px 0 65px 0;
  position: relative;
  margin: 30px 0 50px 0; }
  .icontext-2:before {
    content: "";
    height: 17px;
    background: url(../img/bgicontext2.svg) repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    animation: animatedBackgroundRight 10s linear infinite; }
  .icontext-2:after {
    content: "";
    height: 17px;
    background: url(../img/bgicontext2.svg) repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    animation: animatedBackgroundLeft 10s linear infinite; }
  .icontext-2 .img {
    text-align: center; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.itg-max-w-200 {
  max-width: 200px;
  margin: 0 auto; }

.itg-user-item {
  margin-bottom: 15px; }
  .itg-user-item.style-w .itg-user-title {
    color: #fff; }
  .itg-user-item.style-w .itg-user-text {
    color: #fff; }

.itg-user-img {
  width: 100px;
  float: left; }
  .itg-user-img img {
    width: 100%; }

.itg-user-content {
  margin-left: 110px;
  padding: 13px 0 0 0; }

.itg-user-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 9px; }

.itg-user-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #000; }

.itg-title {
  color: #BB3518;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin-bottom: 15px; }

.itg-max-w-295 {
  max-width: 295px;
  margin: 0 auto; }

.scroll-up {
  display: none;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  position: fixed;
  width: 48px;
  height: 48px;
  background: #15507B url("../img/scroll.svg") center center no-repeat;
  bottom: 20px;
  right: 25px;
  cursor: pointer;
  z-index: 400;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .scroll-up:hover {
    opacity: 0.8; }

@media (max-width: 991px) {
  .container {
    max-width: 100%; } }
@media (max-width: 767px) {
  .itg-video-list .row {
    margin-left: -10px;
    margin-right: -10px; }
    .itg-video-list .row > div {
      padding-left: 10px;
      padding-right: 10px; }

  .itg-video-item-title {
    font-size: 12px;
    line-height: 23px;
    min-width: 90px; }

  .itg-video-list h3 {
    margin-top: 0;
    margin-bottom: 25px; }

  .itg-video-item-text {
    font-size: 18px;
    line-height: 18px; } }
@media (max-width: 575px) {
  .itg-text-formatted {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400; }

  .itg-pb-50 {
    padding-bottom: 70px; }

  .itg-video-block {
    margin: 0 -15px; }
    .itg-video-block .play {
      width: 64px;
      height: 64px;
      left: auto;
      right: 15px;
      top: auto;
      bottom: 15px;
      margin: 0; }
      .itg-video-block .play:after {
        margin: -9px 0 0 -7px;
        width: 16px;
        height: 18px;
        -webkit-background-size: 16px 18px;
        background-size: 16px 18px; }

  .icontext, .icontext-2 {
    margin: 15px 0 20px 0;
    padding: 30px 0 35px 0; }
    .icontext:before, .icontext-2:before {
      animation: animatedBackgroundRight 30s linear infinite; }
    .icontext:after, .icontext-2:after {
      animation: animatedBackgroundLeft 30s linear infinite; }

  .itg-max-w-295 {
    max-width: 165px; }

  .itg-max-w-200 {
    width: 130px; }

  .itg-user-img {
    width: 100px; }

  .itg-user-content {
    padding: 10px 0 0 0; }

  .itg-user-title {
    margin-bottom: 5px; } }

/*# sourceMappingURL=adi_itg.css.map */
