@charset "UTF-8";
h1:after, .h1:after, h2:after, .nav-tabs:after, .social-block:after, .social-block .list:after, header.header .container:after, header.header .logo:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

input:focus, a:focus, input:active, a:active {
  outline: none; }

@media (min-width: 992px) {
  /* START ╤Б╨║╤А╨╛╨╗ */
  ::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 10px;
    height: 0px; }

  ::-webkit-scrollbar-track {
    background-color: transparent; }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #c8c8c8;
    cursor: pointer;
    background-size: 100% 100%; }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #b4b2b2; }

  ::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 10px;
    height: 0px; }

  ::-webkit-scrollbar {
    width: 10px; }

  ::-webkit-scrollbar:horizontal {
    height: 10px; }

  ::-webkit-scrollbar-button {
    display: none; } }
/* END ╤Б╨║╤А╨╛╨╗ */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

*:active, *:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

body {
  padding: 0 0 0 0;
  font-family: "Arial";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #44404F;
  background: #ffffff;
  position: relative;
  min-height: 100vh; }

strong, b {
  font-weight: 700;
  color: #44404F; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700; }

h1, .h1 {
  color: #BF9256;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 40px; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

h2 {
  color: #BF9256;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 40px; }

.clearfix {
  clear: both; }

a {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms; }

p {
  font-size: 23px;
  line-height: 27px;
  font-weight: 400;
  color: #44404F; }

.form-control::-webkit-input-placeholder {
  color: #333; }

.form-control::-moz-placeholder {
  color: #333; }

.form-control:-ms-input-placeholder {
  color: #333; }

.form-control:-moz-placeholder {
  color: #333; }

.form-control:focus, .form-control:active {
  box-shadow: none !important;
  outline: none !important; }

input.form-control {
  border: 1px solid #9CA3AF;
  background: #fff !important;
  padding: 0 15px 0 15px;
  color: #6B7280;
  font-size: 16px;
  line-height: 43px;
  font-weight: 400;
  height: 45px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px; }
  input.form-control:focus, input.form-control:active {
    border: 1px solid #116ACC;
    box-shadow: none !important;
    color: #000; }

textarea.form-control {
  border: 1px solid #9CA3AF;
  background: #fff !important;
  padding: 10px 15px 10px 15px;
  color: #6B7280;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  min-height: 70px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px; }
  textarea.form-control:focus, textarea.form-control:active {
    border: 1px solid #116ACC;
    box-shadow: none !important;
    color: #000; }

.form-group {
  margin-bottom: 15px; }
  .form-group .label {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .form-group .label span {
      color: #9D2929; }

label.error {
  margin: 5px 0 0 0;
  color: #9D2929;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: block; }

.table-block {
  width: 100%;
  display: table; }
  .table-block .td {
    display: table-cell;
    vertical-align: top; }

.mb-45 {
  margin-bottom: 45px; }

.mb-40 {
  margin-bottom: 40px; }

.mt-50 {
  margin-top: 50px; }

.float-100 {
  float: left;
  width: 100%; }

.scroll-up {
  display: none;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  position: fixed;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-size: 12px auto;
  background-size: 12px auto;
  transform: rotate(90deg);
  bottom: 65px;
  right: 30px;
  cursor: pointer;
  z-index: 400; }
  .scroll-up:hover {
    opacity: 0.8; }

@media (max-width: 767px) {
  .scroll-up {
    right: 15px;
    bottom: 30px; } }
.tab-content > .active {
  display: block !important;
  height: auto !important; }

.fade:not(.show) {
  display: block !important;
  height: 0;
  overflow: hidden; }

.nav-tabs {
  border: none;
  border-bottom: 1px solid #E1E1E1;
  display: block; }
  .nav-tabs .nav-item {
    margin: 0 0;
    float: left;
    width: 25%; }
  .nav-tabs .nav-link {
    text-align: center;
    color: #8f8c95;
    text-decoration: none !important;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    display: block;
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    padding: 0 25px;
    position: relative; }
    .nav-tabs .nav-link.active {
      color: #BF9256;
      font-weight: 700; }
      .nav-tabs .nav-link.active:after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #BF9256; }

.margin-10 {
  margin-left: -10px;
  margin-right: -10px; }

.slick-slider {
  opacity: 0; }
  .slick-slider.slick-initialized {
    opacity: 1; }
  .slick-slider .slick-dots {
    text-align: center;
    font-size: 0;
    line-height: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0; }
    .slick-slider .slick-dots li {
      display: inline-block;
      vertical-align: top; }
      .slick-slider .slick-dots li.slick-active button {
        background: #9D2929;
        opacity: 1; }
      .slick-slider .slick-dots li button {
        font-size: 0;
        padding: 0;
        width: 40px;
        height: 4px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        margin: 0 10px;
        background: #2A1C1C;
        opacity: 0.4;
        -webkit-transition-duration: 300ms;
        -moz-transition-duration: 300ms;
        -ms-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
        border: 3px solid transparent;
        cursor: pointer; }
        .slick-slider .slick-dots li button:hover {
          background: #9D2929;
          opacity: 1; }
        .slick-slider .slick-dots li button:before {
          display: none; }
  .slick-slider.arrow-bottom .slick-arrow {
    bottom: 0;
    top: auto;
    margin: 0 0 0 0; }
  .slick-slider .slick-arrow {
    cursor: pointer;
    z-index: 50;
    width: 30px;
    height: 30px;
    background: none;
    padding: 0;
    border: none;
    font-size: 0;
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0; }
    .slick-slider .slick-arrow:hover:before {
      opacity: 0.7; }
    .slick-slider .slick-arrow:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/slider-arrow.svg) center center no-repeat;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms; }
    .slick-slider .slick-arrow.slick-prev {
      left: 0; }
      .slick-slider .slick-arrow.slick-prev:before, .slick-slider .slick-arrow.slick-prev:after {
        left: auto;
        right: 0;
        transform: rotate(180deg); }
    .slick-slider .slick-arrow.slick-next {
      right: 0; }

.tab-content > .active {
  display: block !important;
  height: auto !important; }

.fade:not(.show) {
  display: block !important;
  height: 0;
  overflow: hidden; }

.parallax-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
    .parallax-container .parallax img {
      display: none;
      position: absolute;
      bottom: 0;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }

@media (max-width: 1199px) {
  h1, .h1 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 600; } }
@media (max-width: 991px) {
  body {
    padding: 122px 0 0 0; }

  h1 {
    font-size: 22px;
    line-height: 120%;
    font-weight: 600;
    margin-bottom: 30px; }

  h2 {
    font-size: 22px;
    line-height: 120%;
    font-weight: 600;
    margin-bottom: 30px; }

  .slick-slider .slick-dots li button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; } }
@media (max-width: 575px) {
  h1 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600; }

  h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600; } }
.section-text {
  padding: 80px 0; }
  .section-text .text-formatted {
    font-size: 20px;
    line-height: 23px;
    font-weight: 400; }
    .section-text .text-formatted h1 {
      font-size: 32px;
      line-height: 150%;
      font-weight: 600;
      margin-bottom: 40px; }
    .section-text .text-formatted h4 {
      font-size: 24px;
      line-height: 150%;
      font-weight: 600;
      margin-bottom: 25px; }
    .section-text .text-formatted p {
      font-size: 20px;
      line-height: 23px;
      font-weight: 400;
      margin-bottom: 20px; }
      .section-text .text-formatted p:last-child {
        margin-bottom: 0; }
    .section-text .text-formatted a {
      border-bottom: 1px solid #BF9256;
      text-decoration: none !important;
      color: #BF9256; }
      .section-text .text-formatted a:hover {
        color: #BF9256;
        border-color: transparent; }

.text-formatted {
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  color: #000; }
  .text-formatted p {
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #000; }
    .text-formatted p:last-child {
      margin-bottom: 0; }
  .text-formatted a {
    border-bottom: 1px solid #BF9256;
    text-decoration: none !important;
    color: #BF9256; }
    .text-formatted a:hover {
      color: #BF9256;
      border-color: transparent; }

@media (max-width: 767px) {
  .section-text {
    padding: 30px 0; }

  .text-formatted {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500; }
    .text-formatted p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500; } }
.social-block {
  font-size: 0; }
  .social-block a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #eff3fa;
    float: left;
    margin: 0 0 8px 8px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px; }
    .social-block a:first-child {
      margin-left: 0; }
    .social-block a:hover {
      background: #cddbee; }
  .social-block .list {
    float: left; }
  .social-block .text {
    color: #44404F;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    margin: 0 15px 0 0;
    float: left; }
  .social-block .text + .social {
    float: left; }

.cookie {
  background: #B6997C;
  margin: 0 0;
  padding: 15px 0 10px 0; }
  .cookie .text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #fff; }
  .cookie .btn-outline {
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    border: 1px solid #ffffff;
    margin: 17px 20px 0 0;
    padding: 0 20px 0 20px; }
    .cookie .btn-outline:before {
      display: none; }
    .cookie .btn-outline:hover {
      padding-right: 20px;
      border-color: transparent; }
  .cookie .link {
    display: inline-block;
    vertical-align: top;
    margin: 22px 0 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none !important;
    color: #ffffff !important;
    border-bottom: 1px solid #fff; }
    .cookie .link:hover {
      border-color: transparent; }

@media (max-width: 991px) {
  .cookie {
    padding-bottom: 15px; }
    .cookie .btn-outline {
      margin-left: 0; } }
.page {
  padding: 80px 0 80px 0; }
  .page.p-90-150 {
    padding: 90px 0 155px 0; }
  .page.p-60 {
    padding: 60px 0; }

@media (max-width: 1300px) {
  .page {
    padding: 100px 0 50px 0; }
    .page.p-90-150 {
      padding: 100px 0 50px 0; } }
@media (max-width: 991px) {
  .page {
    padding: 30px 0 30px 0; }
    .page.p-90-150 {
      padding: 30px 0 30px 0; } }
.btn {
  background: #931008;
  color: #ffffff;
  font-size: 18px;
  line-height: 58px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  padding: 0 30px;
  height: 60px;
  letter-spacing: 0;
  border: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  z-index: 1;
  overflow: hidden; }
  .btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    background: #E31E12;
    z-index: -1; }
  .btn:hover {
    background: none;
    color: #fff; }
    .btn:hover:before {
      height: 100%; }
  .btn input {
    box-shadow: none !important;
    background: none !important;
    border: none !important;
    display: block;
    color: #ffffff;
    cursor: pointer; }
  .btn.btn-submit {
    padding: 0; }
    .btn.btn-submit input {
      display: block;
      text-align: center;
      padding: 0 0;
      width: 100%;
      background: none;
      border: none;
      text-shadow: none;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms; }

.btn.focus, .btn:focus, btn:active {
  box-shadow: none !important; }

.jq-selectbox {
  height: 45px;
  width: auto;
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #9CA3AF; }
  .jq-selectbox.select-search .jq-selectbox__select .jq-selectbox__trigger {
    display: none; }
  .jq-selectbox .jq-selectbox__search input {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 43px;
    font-weight: 400;
    padding: 0 20px;
    color: #958e8e;
    border: 2px solid #B3B3B3;
    border-bottom: none;
    background: #fff; }
  .jq-selectbox .jq-selectbox__not-found[style] + ul {
    box-shadow: none; }
  .jq-selectbox .jq-selectbox__not-found {
    background: none;
    display: block;
    font-size: 15px;
    line-height: 43px;
    font-weight: 400;
    padding: 0 20px;
    color: #958e8e;
    opacity: 1;
    background: #fff;
    border: 2px solid #B3B3B3;
    margin: 0 0; }
  .jq-selectbox.opened {
    border-color: #116ACC; }
    .jq-selectbox.opened .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
      transform: rotate(0deg); }
  .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
    height: 43px;
    font-size: 16px;
    line-height: 43px;
    font-weight: 400;
    color: #6B7280;
    padding-right: 50px;
    padding-left: 15px;
    width: auto !important;
    max-width: 100%; }
  .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px; }
    .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
      background: url("../img/select.svg") center center no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      content: "";
      position: absolute;
      margin: -5px -6px 0 0;
      top: 50%;
      right: 50%;
      width: 12px;
      height: 7px;
      transform: rotate(-180deg);
      opacity: 1; }
  .jq-selectbox .jq-selectbox__dropdown {
    position: absolute;
    top: 50px !important;
    left: -1px !important;
    right: -1px !important;
    width: auto !important;
    bottom: auto !important; }
    .jq-selectbox .jq-selectbox__dropdown ul {
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      min-width: 155px;
      max-height: 365px !important;
      background: #fff;
      border: none;
      padding: 0 0;
      margin: 0;
      list-style: none;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px;
      overflow-y: auto; }
      .jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
        background-color: #DFDFDF; }
      .jq-selectbox .jq-selectbox__dropdown ul::-webkit-resizer {
        width: 6px; }
      .jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar {
        width: 6px;
        background: #f6f6f6; }
      .jq-selectbox .jq-selectbox__dropdown ul li {
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        padding: 15px 30px 13px 30px;
        -webkit-transition-duration: 300ms;
        -moz-transition-duration: 300ms;
        -ms-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
        white-space: normal;
        color: #374151; }
        .jq-selectbox .jq-selectbox__dropdown ul li:last-child {
          border-bottom: none; }
        .jq-selectbox .jq-selectbox__dropdown ul li:hover {
          background: rgba(160, 195, 255, 0.1); }

@media (max-width: 991px) {
  .jq-selectbox .jq-selectbox__dropdown ul {
    max-height: 290px !important; }

  .jq-selectbox {
    height: 50px;
    border: 1px solid #808080; }
    .jq-selectbox .jq-selectbox__dropdown {
      top: 50px !important; }
    .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
      height: 50px;
      line-height: 50px; } }
.qty .jq-number {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 120px;
  border: none;
  background: #fff; }
  .qty .jq-number .jq-number__spin {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    cursor: pointer;
    border: 2px solid #9D2929;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
  .qty .jq-number .minus {
    left: 0; }
    .qty .jq-number .minus:before {
      content: "";
      position: absolute;
      top: 11px;
      left: 6px;
      height: 2px;
      background: #9D2929;
      width: 12px; }
  .qty .jq-number .plus {
    right: 0; }
    .qty .jq-number .plus:before {
      content: "";
      position: absolute;
      top: 11px;
      left: 6px;
      height: 2px;
      background: #9D2929;
      width: 12px; }
    .qty .jq-number .plus:after {
      content: "";
      position: absolute;
      top: 7px;
      left: 11px;
      height: 12px;
      background: #9D2929;
      width: 2px; }
  .qty .jq-number .jq-number__field input {
    opacity: 1 !important;
    width: 100%;
    padding: 0 24px;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    border: none;
    background: none; }

header.header {
  background: none;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  padding: 65px 0 0 0; }
  header.header .logo {
    width: 360px;
    padding: 0 0 0 0;
    float: left;
    opacity: 0;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    transform: scale(1.1);
    transition-timing-function: ease-in;
    position: relative; }
    header.header .logo .link {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    header.header .logo.active {
      opacity: 1;
      transform: scale(1); }
    header.header .logo .img {
      float: left;
      width: 67px;
      margin: 0 15px 0 0; }
    header.header .logo .img-text {
      float: left;
      width: 265px;
      margin: 8px 0 0 0; }

.logo-mob {
  display: none; }

@media (max-width: 1199px) {
  header.header {
    padding: 40px 0px 0px; } }
@media (max-width: 991px) {
  header.header {
    height: 122px;
    background: #fff;
    padding: 20px 0 0 0;
    position: fixed; }
    header.header .logo {
      width: 150px;
      margin: 0 auto;
      float: none; }
      header.header .logo .img-text {
        width: 100%; }
      header.header .logo .img {
        display: none; }

  .logo-mob {
    display: block;
    text-align: center; } }
.banner-main {
  background: url(../img/bg-banner.png) center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 110px 0 0 0;
  min-height: 600px;
  position: relative;
  overflow: hidden; }
  .banner-main .container {
    position: relative;
    z-index: 5; }
  .banner-main .text-block {
    padding: 100px 0 0 0; }
  .banner-main h1, .banner-main .h1, .banner-main h2, .banner-main .h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 20px; }
  .banner-main .text {
    max-width: 335px; }
  .banner-main p {
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    text-transform: uppercase; }
  .banner-main .image {
    max-width: 1024px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3; }
  .banner-main .planet-1 {
    display: none; }
  .banner-main .planet-2 {
    position: absolute;
    right: 0;
    top: 35px;
    width: 189px;
    z-index: 2; }
  .banner-main .planet-3 {
    position: absolute;
    right: 40%;
    top: 0;
    width: 162px;
    z-index: 2;
    margin: 0 -50px 0 0; }
  .banner-main .cometa {
    width: 226px;
    position: absolute;
    right: 19%;
    top: 0;
    z-index: 2;
    margin: 0 -50px 0 0; }
  .banner-main .circle {
    z-index: 1;
    width: 822px;
    height: 822px;
    position: absolute;
    right: 100px;
    top: -120px;
    bottom: 0; }
    .banner-main .circle .planet-1 {
      display: block; }
  .banner-main .circle-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
    background: url(../img/circle.png) center center no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
  .banner-main .planet-1 {
    width: 173px;
    height: 96px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -49px 0px 0px -85px; }
  .banner-main .planet-4 {
    display: none; }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@media (max-width: 1600px) {
  .banner-main .image {
    max-width: 815px; }
  .banner-main .circle {
    width: 660px;
    height: 660px; }
  .banner-main .planet-1 {
    width: 140px;
    height: 80px;
    margin: -40px 0px 0px -68px; }
  .banner-main .cometa {
    width: 180px; }
  .banner-main .planet-2 {
    width: 150px; }
  .banner-main .planet-3 {
    width: 120px; } }
@media (max-width: 1300px) {
  .banner-main .image {
    max-width: 700px; }
  .banner-main .circle {
    width: 600px;
    height: 600px; } }
@media (max-width: 1199px) {
  .banner-main h1, .banner-main .h1, .banner-main h2, .banner-main .h2 {
    font-size: 23px;
    line-height: 27px;
    font-weight: 400; }
  .banner-main p {
    font-size: 18px; }
  .banner-main .text-block {
    padding: 40px 0px 0px; }
  .banner-main .image {
    max-width: 575px; }
  .banner-main .circle {
    width: 500px;
    height: 500px;
    right: 50px;
    top: -70px; }
  .banner-main .planet-1 {
    margin: -32px 0px 0px -53px;
    width: 110px;
    height: 62px; }
  .banner-main .planet-3 {
    width: 85px; }
  .banner-main .planet-2 {
    width: 100px; } }
@media (max-width: 991px) {
  .banner-main {
    padding: 0 0; }
    .banner-main h1, .banner-main .h1, .banner-main h2, .banner-main .h2 {
      text-align: center; }
    .banner-main .text-block {
      padding: 65px 0 0 0; }
    .banner-main .text {
      max-width: 100%;
      text-align: center; }
      .banner-main .text br {
        display: none; }
    .banner-main .planet-3 {
      display: none; }
    .banner-main .planet-2 {
      width: 130px;
      right: 0 !important;
      top: 35px !important; }
    .banner-main .circle {
      top: 30px;
      left: 0;
      right: 0;
      margin: 0 auto; } }
@media (max-width: 767px) {
  .banner-main {
    min-height: 480px; }
    .banner-main:before {
      content: "";
      background: url(../img/bg-dark.png) center top no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3; }
    .banner-main h1, .banner-main .h1, .banner-main h2, .banner-main .h2 {
      font-size: 20px;
      margin-bottom: 30px; }
    .banner-main .text {
      margin-bottom: 85px; }
    .banner-main .image {
      float: right;
      position: relative;
      z-index: 4; }
    .banner-main .planet-1 {
      top: 40px !important;
      left: 35px !important;
      display: block;
      margin: 0 0; }
    .banner-main .cometa {
      display: none; }
    .banner-main .circle .planet-1 {
      display: none; }
    .banner-main .planet-4 {
      width: 225px;
      height: 362px;
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      z-index: 2; } }
@media (max-width: 575px) {
  .banner-main .circle {
    width: 100%;
    height: 100%; } }
.section-text {
  position: relative;
  overflow: hidden; }
  .section-text .max-w-1200 {
    max-width: 1230px; }
  .section-text .container {
    position: relative;
    z-index: 1; }
  .section-text .bg-text {
    width: 455px;
    height: 408px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/bg-text.svg) no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
  .section-text .column-left {
    padding-right: 100px; }
  .section-text .btn {
    text-transform: none; }

@media (max-width: 1599px) {
  .section-text .bg-text {
    width: 350px; } }
@media (max-width: 1300px) {
  .section-text .text-formatted {
    padding-right: 60px; } }
@media (max-width: 991px) {
  .section-text {
    padding: 60px 0 35px 0;
    overflow: hidden; }
    .section-text .column-left {
      padding-right: 0; }
    .section-text .bg-text {
      right: -37px;
      width: 320px;
      height: 286px;
      background: url(../img/bg-text-mob.svg) no-repeat; }
    .section-text .text-formatted {
      padding-right: 20px; } }
@media (max-width: 767px) {
  .section-text .btn {
    margin: 30px auto 0;
    max-width: 350px;
    display: block;
    float: none; } }
@media (max-width: 575px) {
  .section-text .text-formatted {
    padding-right: 5px; }
    .section-text .text-formatted p {
      font-size: 16px;
      line-height: 24px; } }
.card-user {
  text-align: center;
  max-width: 260px; }
  .card-user .img {
    width: 254px;
    height: 254px;
    margin: 0 auto 20px; }
    .card-user .img img {
      width: 100%;
      height: 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden; }
  .card-user .text-w {
    color: #fff;
    font-size: 21px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 10px; }
  .card-user .name {
    color: #BF9256;
    font-size: 21px;
    line-height: 26px;
    font-weight: 600; }

.card-user-text-block {
  background: #000 url(../img/bg-star.png) center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 50px 0; }
  .card-user-text-block .column-left {
    padding-left: 200px; }
  .card-user-text-block .column-right {
    padding: 55px 0 0 100px; }
  .card-user-text-block h2, .card-user-text-block h1, .card-user-text-block .h2, .card-user-text-block .h1 {
    color: #BF9256;
    font-size: 23px;
    line-height: 29px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 45px;
    position: relative; }
    .card-user-text-block h2:before, .card-user-text-block h1:before, .card-user-text-block .h2:before, .card-user-text-block .h1:before {
      content: "";
      position: absolute;
      top: -15px;
      left: -70px;
      width: 50px;
      height: 50px;
      background: url(../img/bloquete.svg) no-repeat; }
  .card-user-text-block .text {
    font-style: italic;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    padding: 20px 0 0 0; }
    .card-user-text-block .text:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 1px;
      background: #931008; }

@media (max-width: 1600px) {
  .card-user-text-block .column-left {
    padding-left: 0; }
  .card-user-text-block .card-user {
    margin: 0 auto; } }
@media (max-width: 991px) {
  .card-user .img {
    width: 210px;
    height: 210px; }

  .card-user-text-block h2, .card-user-text-block h1, .card-user-text-block .h2, .card-user-text-block .h1 {
    font-size: 18px; }
  .card-user-text-block .column-right {
    padding: 45px 0 0 70px; } }
@media (max-width: 575px) {
  .card-user-text-block h2, .card-user-text-block h1, .card-user-text-block .h2, .card-user-text-block .h1 {
    padding-left: 70px;
    position: relative; }
    .card-user-text-block h2:before, .card-user-text-block h1:before, .card-user-text-block .h2:before, .card-user-text-block .h1:before {
      left: 0; }
  .card-user-text-block .text {
    font-size: 16px;
    line-height: 21px;
    text-align: center; }
    .card-user-text-block .text:before {
      right: 0;
      margin: 0 auto; }
  .card-user-text-block .column-right {
    padding-left: 0; }

  .card-user .img {
    width: 160px;
    height: 160px; }
  .card-user .text-w {
    font-size: 20px;
    line-height: 23px; }
  .card-user .name {
    font-size: 20px;
    line-height: 24px; } }
.text-feedback {
  padding: 65px 0 105px 0; }
  .text-feedback .bg-tf {
    width: 347px;
    height: 235px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../img/bg-tf.svg) no-repeat; }
  .text-feedback .text-formatted {
    max-width: 520px;
    line-height: 30px; }
    .text-feedback .text-formatted p {
      line-height: 30px; }

.form-feedback h2 {
  margin-bottom: 25px; }
.form-feedback .form-group {
  margin-bottom: 10px; }
.form-feedback .btn {
  width: 100%;
  text-align: center; }

@media (max-width: 991px) {
  .text-feedback {
    padding: 50px 0; }
    .text-feedback .text-formatted {
      max-width: 100%;
      margin: 0 0 25px 0; } }
@media (max-width: 575px) {
  .text-feedback {
    padding: 50px 0 180px 0; }
    .text-feedback .text-formatted p {
      line-height: 24px; } }
.banner {
  margin: 0 0 55px 0; }

.banner-box {
  min-height: 230px;
  background: url(../img/bg-banner2.png) center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden; }
  .banner-box h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400; }
  .banner-box .img {
    margin: 30px 0 0 130px;
    width: 100%;
    max-width: 210px; }
    .banner-box .img img {
      max-width: 100%; }
  .banner-box .text-block {
    padding: 55px 50px 30px 40px; }

@media (max-width: 991px) {
  .banner-box .img {
    margin: 30px auto 0; } }
@media (max-width: 575px) {
  .banner-box {
    background: url(../img/bg-banner2-mob.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
    .banner-box .text-block {
      padding: 25px 15px 0 15px; }
    .banner-box h2 {
      font-size: 18px;
      line-height: 27px; }
    .banner-box .img {
      max-width: 115px;
      margin: 0 0 20px 15px; } }
.events-card {
  background: #fff url(../img/bg-ev.svg) right top no-repeat;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  min-height: 190px;
  margin: 0 0 30px 0;
  padding: 15px 15px 15px 15px;
  position: relative; }
  .events-card .text-top {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #808080;
    margin: 0 0 20px 0; }
  .events-card .text-middle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #000; }
  .events-card .text-bottom {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #808080;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 160px; }
    .events-card .text-bottom a {
      text-decoration: none !important;
      color: #808080;
      border-bottom: 1px solid #808080; }
      .events-card .text-bottom a:hover {
        border-color: transparent; }
  .events-card .img {
    position: absolute;
    bottom: 15px;
    right: 55px; }

@media (max-width: 575px) {
  .events-card .text-top {
    font-size: 14px; }
  .events-card .text-middle {
    font-size: 22px;
    line-height: 24px; }
  .events-card .text-bottom {
    font-size: 14px; } }
.banned-box {
  background: #931008;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
  padding: 35px 65px 30px 50px; }
  .banned-box .img {
    width: 134px;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    position: relative;
    margin: 0 auto 20px;
    transform: rotate(0deg);
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    -ms-transition-duration: 600ms;
    -o-transition-duration: 600ms;
    transition-duration: 600ms; }
    .banned-box .img:hover {
      transform: rotate(360deg); }
    .banned-box .img img {
      z-index: 1;
      position: relative; }
    .banned-box .img .img-box {
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      width: 134px;
      height: 134px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden; }
      .banned-box .img .img-box:before {
        width: 4px;
        height: 150px;
        position: absolute;
        top: 0;
        left: 68px;
        border-top: 1px solid #BF9256;
        border-bottom: 1px solid #BF9256;
        transform: rotate(-45deg);
        content: "";
        z-index: 1;
        background: #931008; }
  .banned-box .text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    text-align: center; }
  .banned-box h2, .banned-box .h2, .banned-box h1, .banned-box .h1 {
    color: #fff;
    margin: 0 0 25px 0; }
  .banned-box li {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0 0 0 15px;
    background: url(../img/list.svg) 0px 5px no-repeat; }
    .banned-box li:last-child {
      margin-bottom: 0; }

@media (max-width: 1199px) {
  .banned-box .text {
    font-size: 18px; } }
@media (max-width: 575px) {
  .banned-box {
    padding: 25px 15px; }
    .banned-box li {
      font-size: 16px;
      line-height: 24px; }
    .banned-box .text {
      margin-bottom: 30px; } }
.profile-block {
  padding: 80px 0 25px 0; }
  .profile-block h2 {
    margin-bottom: 45px;
    color: #000;
    text-align: center; }

.form-profile .row {
  margin-left: -10px;
  margin-right: -10px; }
  .form-profile .row > div {
    padding-left: 10px;
    padding-right: 10px; }
.form-profile .form-control {
  width: 100%; }
.form-profile .jq-selectbox {
  width: 100%; }
.form-profile .form-bottom {
  margin-top: 75px; }
.form-profile .btn {
  max-width: 308px;
  width: 100%;
  display: block;
  margin: 0 auto; }

@media (max-width: 991px) {
  .profile-block {
    padding: 50px 0 30px 0; } }
@media (max-width: 575px) {
  .profile-block {
    padding: 30px 0 180px 0; }
    .profile-block:before {
      content: "";
      width: 100%;
      height: 235px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: url(../img/bg-tf.svg) no-repeat; }
    .profile-block h2 {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 21px; }

  .form-profile .form-bottom {
    margin-top: 10px; } }
.modal {
  background: url(../img/bg-modal.png) center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  .modal:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 529px;
    height: 358px;
    background: url(../img/modal-left.svg) no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
  .modal:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 580px;
    height: 521px;
    background: url(../img/modal-right.svg) no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto; }
  .modal .modal-dialog {
    max-width: 665px; }
  .modal .close {
    width: 173px;
    height: 96px;
    background: url(../img/bg-close.png) center center no-repeat;
    padding: 0;
    margin: 0;
    position: absolute;
    right: -120px;
    top: 20px;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    transform: rotate(0deg);
    opacity: 1;
    text-shadow: none; }
    .modal .close:after {
      content: "";
      width: 27px;
      height: 27px;
      background: url(../img/close.svg) no-repeat;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
      position: absolute;
      top: 35px;
      left: 70px; }
    .modal .close span {
      display: none;
      height: 20px;
      line-height: 15px; }
  .modal .modal-header {
    position: relative;
    z-index: 10;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    display: block;
    padding: 0 0 0 0;
    border-bottom: none;
    margin-bottom: 0;
    border-bottom: none; }
  .modal .modal-body {
    padding: 0 0; }
  .modal .modal-content {
    margin-top: 100px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: none;
    box-shadow: none;
    width: 100%;
    max-width: 683px; }

.modal-feedback-block {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent url(../img/modal-content.png) center top no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  max-width: 665px;
  height: 665px;
  width: 100%;
  margin: 0 auto; }
  .modal-feedback-block h2 {
    font-size: 32px;
    line-height: 34px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase; }
  .modal-feedback-block .text {
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-align: center; }

@media (max-width: 991px) {
  .modal {
    padding-left: 15px !important;
    padding-right: 15px !important; } }
@media (max-width: 991px) {
  .modal:before {
    top: auto;
    position: fixed;
    bottom: 0;
    width: 285px;
    height: 190px; }
  .modal:after {
    width: 285px;
    height: 260px; }
  .modal .close {
    width: 82px;
    height: 46px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    right: 0;
    left: 0;
    top: -60px;
    margin: 0 auto; }
    .modal .close:after {
      width: 18px;
      height: 18px;
      top: 13px;
      left: 31px; }

  .modal-feedback-block {
    margin: 0 auto 0; } }
@media (max-width: 575px) {
  .modal .modal-body {
    min-height: 10px; }

  .modal-feedback-block {
    margin: 0 auto 0;
    height: 520px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 140px 20px 0 20px; }
    .modal-feedback-block h2 {
      font-size: 16px;
      line-height: 18px; }
    .modal-feedback-block .text {
      font-size: 15px;
      line-height: 22px; }
      .modal-feedback-block .text br {
        display: none; } }
@media (max-width: 450px) {
  .modal-feedback-block {
    height: 430px; } }
@media (max-width: 400px) {
  .modal-feedback-block {
    padding: 100px 20px 0 20px; } }
.container {
  max-width: 1340px; }

@media (max-width: 991px) {
  .container {
    max-width: 100%; } }

/*# sourceMappingURL=index.css.map */
