.modal {
  background: rgba(0, 0, 0, 0.6); }
  .modal .modal-dialog {
    max-width: 600px;
    background: none;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto; }
  .modal .modal-content {
    margin: 15px 0;
    padding: 25px 25px;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    background: #06d6a0;
    box-shadow: none; }

.modal-dialog .modal-header {
  position: relative;
  z-index: 10;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  display: block;
  padding: 0 0 0 0;
  border-bottom: none;
  margin-bottom: 0;
  border-bottom: none; }
.modal-dialog .modal-body {
  padding: 0 0 0; }
.modal-dialog .modal-title {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  padding: 0 40px 0 0;
  margin-bottom: 15px;
  display: block;
  position: relative; }
.modal-dialog .text-formatted {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px; }
  .modal-dialog .text-formatted.text-small {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400; }
  .modal-dialog .text-formatted p {
    color: #fff; }
  .modal-dialog .text-formatted a {
    text-decoration: none !important;
    border-bottom: 1px solid #ffffff;
    color: #fff; }
    .modal-dialog .text-formatted a:hover {
      border-color: transparent; }
.modal-dialog .close {
  z-index: 15;
  width: 40px;
  height: 40px;
  background: url(../img/close-w.svg) center center no-repeat;
  -webkit-background-size: 20px;
  background-size: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  transform: rotate(0deg);
  opacity: 1;
  text-shadow: none; }
  .modal-dialog .close span {
    display: none;
    height: 20px;
    line-height: 15px; }
.modal-dialog input.form-control {
  padding: 0 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
.modal-dialog .btn.btn-submit {
  background: #fff;
  color: #06d6a0; }
  .modal-dialog .btn.btn-submit:hover {
    border-color: #fff;
    background: #06d6a0;
    color: #fff; }
    .modal-dialog .btn.btn-submit:hover input {
      color: #fff; }
  .modal-dialog .btn.btn-submit:after {
    display: none; }
  .modal-dialog .btn.btn-submit input {
    color: #06d6a0;
    padding: 0 25px; }

.modal .btn.btn-submit {
  width: 100%;
  height: 60px;
  display: block; }
  .modal .btn.btn-submit input {
    height: 60px;
    font-size: 23px;
    line-height: 60px;
    font-weight: 500;
    text-align: center;
    width: 100%; }

.modal-success .modal-title {
  text-align: center;
  padding-right: 0; }
.modal-success .img {
  width: 100px;
  margin: 50px auto 60px; }
.modal-success .text-formatted {
  text-align: center;
  font-weight: 400; }

@media (max-width: 991px) {
  .modal {
    padding-left: 15px !important;
    padding-right: 15px !important; } }
@media (max-width: 767px) {
  .modal .modal-content {
    padding: 20px 15px; }
  .modal .modal-title {
    font-size: 22px;
    line-height: 25px; }
  .modal .btn.btn-submit {
    font-size: 20px; }
    .modal .btn.btn-submit input {
      font-size: 20px; }

  .modal-dialog .text-formatted {
    font-size: 16px;
    line-height: 20px; } }

/*# sourceMappingURL=modal.css.map */
