.btn-back {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: -30px;
  left: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important; }

.page-top {
  position: relative;
  padding: 50px 0 50px 0; }
  .page-top .container {
    position: relative; }
  .page-top h1, .page-top h2 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0; }

@media (max-width: 1450px) {
  .page-top .btn-back {
    display: none; } }
@media (max-width: 991px) {
  .page-top {
    padding: 25px 0 30px 0; } }
.banner-inner {
  position: relative; }
  .banner-inner .img img {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    width: 100%; }
  .banner-inner .bottom-block {
    margin: 0 auto;
    background: #000;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 590px;
    text-align: center;
    padding: 0 15px;
    color: #82C5BC;
    font-size: 32px;
    line-height: 96px;
    font-weight: 700;
    text-transform: uppercase; }
    .banner-inner .bottom-block .text-blue {
      color: #009FE3; }

@media (max-width: 991px) {
  .banner-inner .img {
    margin: 0 -15px; }
    .banner-inner .img img {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
  .banner-inner .bottom-block {
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    max-width: 256px; }
    .banner-inner .bottom-block span {
      font-size: 14px;
      line-height: 28px; } }
.card-speaker {
  background: #F1F1F1;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 20px 20px;
  min-height: 430px;
  position: relative;
  overflow: hidden;
  margin: 0 0 30px 0; }
  .card-speaker:hover .hide-box {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible; }
  .card-speaker .link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none !important; }
  .card-speaker .img {
    margin: 0 0 15px 0; }
    .card-speaker .img img {
      width: 100%;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px; }
  .card-speaker .name {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 15px 0; }
  .card-speaker .text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 10px 0; }
  .card-speaker .text-bold {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center; }
  .card-speaker .hide-box {
    z-index: 3;
    width: auto;
    height: auto;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    background: rgba(154, 109, 173, 0.9);
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -ms-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
    .card-speaker .hide-box.mob {
      display: none; }

@media (min-width: 992px) {
  .card-speaker .hide-box.mob {
    display: none !important; } }
@media (max-width: 991px) {
  .card-speaker .hide-box {
    display: none;
    opacity: 1;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 0 !important;
    visibility: visible; } }
.block-btn-section {
  padding: 35px 0 40px 0;
  background: #fff; }
  .block-btn-section .block-btn {
    max-width: 590px;
    margin: 0 auto; }

.speaker-read {
  padding: 0 0 50px 0; }
  .speaker-read .speaker-card {
    float: right; }

@media (max-width: 991px) {
  .speaker-read {
    padding: 0 0; }
    .speaker-read .speaker-card {
      margin: 0 auto 30px;
      float: none; }
    .speaker-read .row > div:first-child {
      order: 2; }
    .speaker-read .row > div:last-child {
      order: 1; } }

/*# sourceMappingURL=inner_page.css.map */
