@import url('fonts.css');

.layout{
    max-width: 1440px;
    margin: 0 auto;
}
.none{
    display: none;
    transition: all 0.3s;
}
.header{
    padding: 13px 46px 13px 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FBFCFF;
    box-shadow: 0px 2px 8px rgba(233, 239, 248, 0.49);
}
.header__wrapper{
    display: flex;
    align-items: center;
}
.header__logo{
    margin: 0 81px 0 0;
    transition: all 0.3s;
}
.header__logo img{
    width: 30px;
}
.header__nav-item{
    text-decoration: none;
    font: 500 14px 'Monseratt';
    line-height: 19px;
    color: #172D4E;
    transition: all 0.3s;
    margin: 0 50px 0 0;
}
.header__nav-item:hover{
    color: #0061FF;
}
/*.header__nav-item:last-child{*/
/*    margin: 0;*/
/*}*/
.header__nav-item--active{
    color: #0061FF;
}
.header__auth{
    display: flex;
    align-items: center;
}
.auth__order-btn{
    padding: 10px 20px 10px 20px;
    color: #fff;
    background: linear-gradient(to right, #0061FE, #0061FE);
    font: 500 14px 'Monseratt';
    line-height: 16px;
    border-radius: 6px;
    transition: 0.5s;
    margin: 0 40px 0 0;
}
.auth__order-btn:hover{
    background: linear-gradient(to right, #0061FE, #0038C9);
}
.auth__order-btn:active{
    transform: scale(0.95);
    background: linear-gradient(to right, #0038C9, #0038C9);
}
.auth__order-btn.disabled{
    background: linear-gradient(to right, #CCDFFF, #CCDFFF);
    color: #fff;
}
.auth__order-btn.disabled:hover{
    background: linear-gradient(to right, #CCDFFF, #CCDFFF);
    color: #fff;
}
.auth__sign-btn svg{
    width: 25px;
    transition: 0.8s;
}
.auth__sign-btn svg:hover .auth__sign-btn-one{
    stop-color: #0061FE;
}
.auth__sign-btn svg:hover .auth__sign-btn-two{
    stop-color: #0038C9;
}
.auth__sign-btn svg:active .auth__sign-btn-one{
    stop-color: #0038C9;
}
.auth__sign-btn svg:active .auth__sign-btn-two{
    stop-color: #0038C9;
}
.auth__sign-btn.auth__order-btn--active .auth__sign-btn-one{
    stop-color: #0038C9;
}
.auth__sign-btn.auth__order-btn--active .auth__sign-btn-two{
    stop-color: #0038C9;
}
/*модальное окно начало */
.auth__modal{
    position: absolute;
    z-index: 1;
    background: rgba(204, 223, 255, 0.24);
    max-width: 275px;
    width: 30%;
    height: 90%;
    right: -100vw;
    display: none;
    transition: all 0.5s;
}
.auth__modal--show{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 0;
    transition: all 0.5s;
    padding: 24px 40px 0 40px;
    top: 75px;
}
.auth__modal-list{
    display: flex;
    flex-direction: column;
}
.auth__modal-list:last-child{
    margin: 0;
}
.auth__modal-item{
    font: 500 14px 'Monseratt';
    line-height: 17px;
    color: #172D4E;
    margin: 0 0 30px 0;
    transition: all 0.3s;
}
.auth__modal-item:hover{
    color: #0061FF;
}
.auth__modal-item--active{
    color: #0061FF;
}
.auth__modal-theme{
    padding: 0 0 30px 0;
}
.modal__title{
    font: 400  12px 'Monseratt';
    line-height: 14px;
    color: #4675AC;
    margin: 0 0 25px 0;
}
.modal__dark{
    margin: 0 42px 0 0;
}
.modal__dark svg{
    fill: #0061FE;
    fill-opacity: 0.1;
    transition: all 0.3s;
}
.modal__dark--active svg{
    fill-opacity: 1;
    fill:#0061FE;
}
.modal__light svg{
    fill: #0061FE;
    fill-opacity: 0.1;
    transition: all 0.2s;
}
.modal__light--active svg{
    fill-opacity: 1;
    fill: #0061FE;
}
.modal__switch {
    position: relative;
    display: inline-block;
    width: 29.13px;
    height: 18.22px;
    margin: 0 34px 0 0;
}
.modal__switch input {
    display:none;
}
.modal__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 97, 254, 0.1);
    -webkit-transition: .4s;
    transition: .4s;
}
.modal__slider:before {
    position: absolute;
    content: "";
    height: 15.94px;
    width: 15.69px;
    left: 1px;
    bottom: 1px;
    background: #0061FF;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .modal__slider {
    background: rgba(0, 97, 254, 0.1);
}
input:focus + .modal__slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .modal__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -14px;
}
.modal__slider.modal__round {
    border-radius: 34px;
}
.modal__slider.modal__round:before {
    border-radius: 50%;
}
.modal__icon{
    display: flex;
    align-items: center;
}
/*модальное окно конец*/
.dictionary{
    padding: 30px 165px 200px 165px;
}
.dictionary__title{
    font: 700 24px 'Monseratt';
    line-height: 19px;
    color: #172D4E;
    margin: 0 0 53px 0;
}
.dictionary__block{
    max-width: 700px;
}
.dictionary__search{
    margin: 0 0 50px 0;
}
.dictionary__search input{
    border: 0;
    border-bottom: 1px solid #CCDFFF;
    background: url(../img/dictionary/search-default.svg) no-repeat 95%;
    line-height: 38px;
    background-position: left;
    padding-left: 25px;
    font-family: 'Monseratt';
    font-size: 14px;
    width: 100%;
    max-width: 350px;
    transition: all 0.3s;
}
/*//под вопросом */
/*.dictionary__search input:focus{*/
/*    border-bottom: 1px solid #0061FF;*/
/*    background: url(../img/dictionary/search-active.svg) no-repeat 95%;*/
/*    background-position: right;*/
/*    padding-left: 0;*/
/*    padding-right: 25px;*/
/*}*/
.dictionary__search input::placeholder{
    font: 400 14px 'Monseratt';
    color: #CCDFFF;
}
.dictionary__search > .dictionary__search--active{
    border-bottom: 1px solid #0061FF;
    background: url(../img/dictionary/search-active.svg) no-repeat 95%;
    background-position: right;
    padding-left: 0;
    padding-right: 25px;
}
.dictionary__content{
    max-width: 730px;
}
.dictionary__list{
    display: flex;
    flex-wrap: wrap;
}
.dictionary__list-item{
    font: 400 14px 'Monseratt';
    color: #4675AC;
    margin: 0 5px 0 5px;
    padding: 2%;
    margin: 1%;
    border: 1px solid #CCDFFF;
    border-radius: 8px;
    transition: all 0.5s;
    background: linear-gradient(to right, #fff, #fff);
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}
.dictionary__list-item:hover{
    background: linear-gradient(92.58deg, #0061FE 4.59%, #0038C9 90.68%);
    /*box-shadow: 0px 5px 7px rgba(0, 97, 254, 0.21);*/
    color: #fff;
}
.dictionary__list-item:active{
    border: 1px solid #0061FF;
    color: #fff;
    background: #0038C9;
}
.dictionary__list-item.active{
    background: linear-gradient(92.58deg, #0061FE 4.59%, #0038C9 90.68%);
    border: 1px solid #0061FF;
    box-shadow: 0px 5px 7px rgba(0, 97, 254, 0.21);
    color: #fff;
}
.header__mobile-burger{
    display: inline-block;
    cursor: pointer;
}
.header__mobile-first, .header__mobile-second, .header__mobile-three{
    width: 30px;
    height: 2px;
    margin: 10px 0;
    transition: 0.4s;
    background-color: #0061FF;
}
.mobile-burger--active .header__mobile-first{
    transform: translateY(12px) rotate(135deg);
}
.mobile-burger--active .header__mobile-second{
    transform: scale(0);
}
.mobile-burger--active .header__mobile-three{
    transform: translateY(-12px) rotate(-135deg);
}

.header__mobile-modal{
    display:none;
    position: absolute;
    z-index: 1;
    background: white;
    height: 90%;
    width: 100%;
    right: -100%;
}
.header__mobile-modal--show{
    right: 0;
    top: 100px;
    padding: 24px 50px 0 50px;
    display: block;
}
.header__mobile-navs{
    display: flex;
    flex-direction: column;
}
.header__mobile-navs a{
    font: 500 14px 'Monseratt';
    line-height: 17px;
    color: #172D4E;
    margin: 0 0 30px 0;
    transition: all 0.3s;
}
.footer{
    padding: 10px 0px 9px 48px;
    border-top: 1px solid #CCDFFF;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 500;
    background: #fff;
}
.footer.fixed{

}
.footer__info{
    font: 400 14px 'Monseratt';
    line-height: 19px;
    color: #4675AC;
}
.hidden{
    overflow: hidden;
}
.header__navs{
    display: flex;
}
.header__nav-all{
    display: flex;
    align-items: center;
}
.header__trinagles{
    margin: 0 0 0 5px;
}
.header__nav-item:hover > .header__trinagles > .svg__default{
    fill: #0061FF;
}
.header__nav-item > .header__trinagles > .svg__active{
    display: none;
}
.header__nav-item.header__nav-all.header__nav-item--active > .header__trinagles > .svg__active{
    display: flex;
}
.header__nav-item.header__nav-all.header__nav-item--active > .header__trinagles > .svg__default{
    display: none;
}
.header__nav-item.header__nav-all > .header__trinagles > .svg__default{
    display: flex;
}
.all__modal{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 100;
    display: none;
}
.all__modal-show{
    display: block;
}
.all__modal-items{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: baseline;
    max-width: 800px;
    margin: 0 0 0 160px;
}
.all__modal-items a{
    margin: 0 0 20px 0;
    font: 500 14px 'Monseratt';
    line-height: 19px;
}
.header__search{
    margin: 0 462px 0 0;
}

.header__search input{
    border: 0;
    border-bottom: 1px solid #CCDFFF;
    background: url(../img/dictionary/search-default.svg) no-repeat 95%;
    line-height: 38px;
    background-position: left;
    padding-left: 25px;
    font-family: 'Monseratt';
    font-size: 14px;
    width: 100%;
    width: 350px;
    transition: all 0.3s;
    color: #000;
}
.header__search input::placeholder{
    font: 400 14px 'Monseratt';
    color: #CCDFFF;
}
.header__search  > .header__search--active{
    border-bottom: 1px solid #0061FF;
    background: url(../img/dictionary/search-active.svg) no-repeat 95%;
    background-position: right;
    padding-left: 0;
    padding-right: 25px;
}
