.mob-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 900;
  height: 60px; }
  .mob-header .btn {
    display: block;
    margin: 10px auto 0; }
  .mob-header .container {
    padding: 0 0; }
  .mob-header.fixed {
    height: auto; }
    .mob-header.fixed .mob-header-top {
      box-shadow: none; }
  .mob-header.fixed + .mob-header-bottom {
    display: none; }

.fixed-important .mob-header .catalog-trigger .text:before {
  opacity: 0 !important; }
.fixed-important .mob-header-bottom {
  display: block !important; }

.mob-header-top {
  position: relative;
  height: 60px;
  border-bottom: 1px solid #DDD; }

.mob-menu-trigger {
  width: 20px;
  position: absolute;
  left: 20px;
  top: 24px;
  cursor: pointer; }
  .mob-menu-trigger span {
    display: block;
    background: #000;
    height: 2px;
    margin-bottom: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
    .mob-menu-trigger span:last-child {
      margin-bottom: 0; }

.mob-search {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer; }

.mob-cart {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 60px; }

.mob-logo {
  text-align: center;
  width: 25px;
  position: absolute;
  top: 15px;
  left: 55px; }
  .mob-logo .img {
    width: 100%;
    height: 30px;
    margin: 0 auto; }

.catalog-trigger {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  width: 105px;
  margin: 0 auto; }
  .catalog-trigger.active .text:before {
    opacity: 0; }
  .catalog-trigger .text {
    position: relative;
    display: inline-block;
    top: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    padding: 0 18px 0 0; }
    .catalog-trigger .text:after {
      position: absolute;
      top: 9px;
      right: 0;
      width: 12px;
      height: 2px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      background: #000;
      content: ""; }
    .catalog-trigger .text:before {
      position: absolute;
      top: 4px;
      right: 5px;
      width: 2px;
      height: 12px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      background: #000;
      content: ""; }

.mob-header-bottom {
  padding: 15px 0 5px 0;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 800; }
  .mob-header-bottom.active {
    position: fixed; }

.mob-header-category {
  padding: 0 15px 10px 15px;
  border-bottom: 1px solid #ddd;
  margin-left: -15px;
  margin-right: -15px; }
  .mob-header-category .btn {
    width: 100%;
    padding: 0 10px; }

.mob-header-category-list {
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }

.mob-header-category-link .img {
  height: 23px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 8px 0; }
.mob-header-category-link .text {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #000;
  text-align: center;
  display: block; }

/*# sourceMappingURL=mob_header.css.map */
