.footer-mob {
  background: #fff;
  padding: 0 0 47px 0; }
  .footer-mob .select-size {
    margin-bottom: 30px; }
    .footer-mob .select-size .title {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;
      line-height: 10px;
      color: #6c757d;
      margin-bottom: 15px;
      text-align: center; }
    .footer-mob .select-size a {
      display: inline-block;
      margin: 0 10px;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .footer-mob .select-size a img {
        width: 100%;
        height: 100%;
        display: block; }
  .footer-mob .scroll-up {
    color: #6c757d;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    font-weight: 600;
    text-align: center; }

.mob-social-footer {
  padding: 14px 0 10px 0;
  border-bottom: 1px solid #E5E5EA;
  text-align: center;
  margin: 0 0 15px 0; }
  .mob-social-footer .img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px; }
  .mob-social-footer a {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px; }

.form-feedback {
  margin: 28px 0 25px 0; }
  .form-feedback .form-title {
    color: #1C1C1E;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin: 0 0 5px 0; }
  .form-feedback .reset {
    background-position: right center; }
  .form-feedback .form-group {
    margin: 0 0 15px 0; }
  .form-feedback .form-control {
    font-weight: 600;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #636366;
    color: #8E8E93;
    font-size: 14px;
    font-style: italic; }
  .form-feedback .btn {
    width: 100%; }
    .form-feedback .btn input {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600; }

.mob-footer-title {
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  color: #636366;
  margin-bottom: 20px; }
  .mob-footer-title.arrow {
    padding: 0 20px 0 0;
    background: url(../img/arrow.svg) 100% 3px no-repeat; }
  .mob-footer-title a {
    padding: 0 0;
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    color: #636366;
    display: block;
    text-decoration: none !important; }

.mob-footer-text {
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  color: #636366;
  margin-bottom: 10px; }
  .mob-footer-text.pl {
    padding-left: 20px; }
  .mob-footer-text a {
    text-decoration: none !important;
    color: #636366 !important;
    font-size: 14px;
    line-height: 15px;
    font-weight: 500; }

.mob-footer-address {
  padding: 0 0 0 20px;
  background: url(../img/address.svg) 0px 3px no-repeat; }

.mb-20 {
  margin-bottom: 20px; }

.mob-footer-payment {
  padding: 10px 30px;
  background: #212121;
  text-align: center;
  margin: 0 -15px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .mob-footer-payment .img {
    height: 16px;
    display: flex;
    align-items: center; }
  .mob-footer-payment img {
    max-width: 56px;
    max-height: 16px; }

.footer-acc {
  margin-bottom: 20px; }
  .footer-acc .accordion-item {
    border-bottom: 1px solid #E5E5EA;
    padding: 15px 0; }
    .footer-acc .accordion-item:first-child {
      border-top: 1px solid #E5E5EA; }
  .footer-acc .accordion-sub-block {
    display: none; }
  .footer-acc .accordion-menu-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #636366;
    display: block;
    text-decoration: none !important;
    position: relative; }
    .footer-acc .accordion-menu-title.active:after {
      transform: rotate(45deg); }
    .footer-acc .accordion-menu-title:after {
      content: "";
      background: url(../img/plus-acc.svg) no-repeat;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 4px;
      right: 0; }
  .footer-acc .list-link {
    padding: 20px 0 0 20px; }
  .footer-acc .link {
    margin-bottom: 10px;
    line-height: 0; }
    .footer-acc .link:last-child {
      margin-bottom: 0; }
    .footer-acc .link a {
      text-decoration: none !important;
      color: #636366 !important;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500; }

.copyright {
  color: #636366;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px; }

.footer-link {
  font-size: 0;
  margin: 0 0 30px 0; }
  .footer-link .link {
    line-height: 0;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    border-right: 1px solid #E5E5EA; }
    .footer-link .link:last-child {
      border-right: none; }
    .footer-link .link:first-child {
      padding-left: 0; }
  .footer-link a {
    color: #1C1C1E !important;
    text-decoration: none !important;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500; }

.footer-menu {
  border-top: 1px solid #E5E5EA;
  height: 47px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 0 0 0 0;
  z-index: 900; }
  .footer-menu .icon-list {
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex; }
  .footer-menu .modal-icon-block {
    height: 47px;
    padding: 7px 10px 0 10px;
    width: 20%;
    position: relative;
    text-align: center; }
    .footer-menu .modal-icon-block.selected .icon:after {
      content: "";
      width: 6px;
      height: 6px;
      background: #013F7D;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: -15px; }
    .footer-menu .modal-icon-block.active {
      background: #003468; }
      .footer-menu .modal-icon-block.active .icon:after {
        opacity: 0; }
      .footer-menu .modal-icon-block.active .title {
        color: #fff; }
      .footer-menu .modal-icon-block.active svg path {
        fill: #fff; }
    .footer-menu .modal-icon-block.footer-icon-fav.active svg path {
      stroke: #fff;
      fill: #003468; }
  .footer-menu .icon {
    position: relative;
    height: 16px;
    text-align: center;
    margin-bottom: 7px;
    display: inline-block;
    vertical-align: top; }
  .footer-menu .title {
    width: 100%;
    font-size: 11px;
    line-height: 11px;
    font-weight: 500;
    text-align: center;
    color: #1C1C1E; }

@media (max-width: 400px) {
  .footer-menu .icon-block {
    padding: 7px 5px 0 5px; } }

/*# sourceMappingURL=mob_footer.css.map */
