*, ::after, ::before {
  box-sizing: border-box; }

html {
  font-family: "Houschka Pro", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  display: block;
  background: #fff;
  margin: 0;
  font-family: "Houschka Pro", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  padding: 200px 0 0 0; }

.container {
  width: 100%;
  max-width: 991px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.img-fluid {
  max-width: 100%;
  height: auto; }

*:focus-visible {
  outline: none !important; }

.btn-outline {
  background: #fff;
  display: inline-block;
  vertical-align: top;
  height: 36px;
  border: 1px solid #003468;
  padding: 0 30px;
  text-decoration: none !important;
  font-size: 12px;
  line-height: 34px;
  font-weight: 600;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  color: #003468;
  text-align: center; }

.btn {
  background: #003468;
  display: inline-block;
  vertical-align: top;
  height: 36px;
  border: none;
  padding: 0 30px;
  text-decoration: none !important;
  font-size: 12px;
  line-height: 36px;
  font-weight: 600;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
  text-align: center;
  text-transform: uppercase; }
  .btn.btn-submit {
    padding: 0 0; }
  .btn input {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    font-size: inherit;
    background: none;
    color: inherit;
    font-weight: 600; }

.catalog-title-block {
  position: relative;
  padding: 0 35px 0 0; }

.catalog-title {
  font-size: 19px;
  line-height: 22px;
  font-weight: 600;
  color: #1C1C1E;
  margin: 0 0 20px 0; }

.catalog-title-trigger {
  width: 20px;
  position: absolute;
  top: 5px;
  right: 0; }
  .catalog-title-trigger span {
    display: block;
    height: 2px;
    margin-bottom: 3px;
    background: #000; }
    .catalog-title-trigger span:nth-child(even) {
      margin-left: 8px; }
    .catalog-title-trigger span:last-child {
      margin-bottom: 0; }

.tag-list {
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  padding: 0 0 15px 0;
  margin: 0 -15px 15px 0; }
  .tag-list.no-scroll-list {
    white-space: normal;
    overflow: visible;
    padding: 0;
    margin: 0; }
    .tag-list.no-scroll-list .tag {
      margin: 0 8px 8px 0; }
  .tag-list .tag {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    margin: 0 7px 0 0; }
    .tag-list .tag.active a {
      background: #013F7D;
      color: #fff !important; }
    .tag-list .tag a {
      font-style: italic;
      display: inline-block;
      vertical-align: top;
      background: #F2F2F5;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      border-radius: 12px;
      font-size: 12px;
      line-height: 22px;
      font-weight: 500;
      padding: 0 15px 1px 15px;
      text-decoration: none !important;
      color: #1C1C1E !important; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.pagination-mob {
  padding: 0 25px;
  list-style-type: none;
  position: relative;
  font-size: 0;
  white-space: nowrap;
  margin: 15px 0 35px 0;
  display: block; }
  .pagination-mob:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 40px;
    background: url(../img/dots.svg) repeat-x;
    height: 3px;
    width: auto; }
  .pagination-mob .page-item-box {
    display: inline-block;
    vertical-align: top;
    background: #ffffff;
    padding: 0 10px 0 0;
    position: relative;
    z-index: 2; }
  .pagination-mob .page-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 2; }
    .pagination-mob .page-item.active .page-link {
      background: #013F7D;
      color: #fff !important; }
    .pagination-mob .page-item:last-child {
      float: right; }
  .pagination-mob .page-link {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    color: #000 !important;
    text-decoration: none !important;
    background: #F2F2F5;
    text-align: center; }

.text-center {
  text-align: center; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  .slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0; }
  .slick-slider .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .slick-slider .slick-track:before, .slick-slider .slick-track:after {
      display: table;
      content: ""; }

.slick-initialized .slick-slide {
  display: block; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

.slick-dots {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px; }
    .slick-dots li.slick-active button {
      background: #013F7D; }
    .slick-dots li button {
      padding: 0;
      border: none;
      display: block;
      font-size: 0;
      height: 5px;
      width: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background: #F5F5F5; }

.btn-read-more {
  margin-top: 50px; }
  .btn-read-more .btn {
    width: 100%;
    padding: 0 10px; }

/*# sourceMappingURL=mob_style.css.map */
