.range-block .extra-controls:after, .range-block .extra-controls .input:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

.mob-filter-box {
  padding: 20px 15px 80px 30px; }
  .mob-filter-box .block-btn {
    border-top: 1px solid #ddd;
    padding: 10px 0 30px 0;
    position: fixed;
    bottom: 47px;
    left: 65px;
    right: 0;
    background: #fff; }
  .mob-filter-box .btn {
    width: auto;
    display: block;
    margin: 0 15px 0; }

.mob-filter-box .clear-all-filter {
  text-align: right;
  margin: 0 0 20px 0; }

.clear-all-filter {
  color: #C1C5C8;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  text-transform: uppercase; }

.mob-filter-item {
  position: relative; }
  .mob-filter-item.selected:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #16599D;
    width: 4px;
    height: 4px; }
  .mob-filter-item.selected .clear-filter {
    display: block; }
  .mob-filter-item .clear-filter {
    display: none;
    color: #C1C5C8;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 1px;
    right: 0; }

.mob-filter-title {
  font-size: 13px;
  line-height: 14px;
  font-weight: 600;
  color: #1C1C1E;
  position: relative;
  margin-bottom: 25px;
  min-width: 85px;
  padding: 0 15px 0 0;
  text-transform: uppercase;
  max-width: 60%; }
  .mob-filter-title:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    background: #494949;
    width: 10px;
    height: 2px; }
  .mob-filter-title:before {
    opacity: 1;
    content: "";
    position: absolute;
    top: 1px;
    right: 4px;
    background: #494949;
    width: 2px;
    height: 10px; }
  .mob-filter-title.active:before {
    opacity: 0; }

.mob-filter-sub {
  display: none;
  margin-bottom: 25px; }
  .mob-filter-sub .tag-list {
    margin: 10px 0 0 0;
    padding: 0 0;
    overflow: visible;
    white-space: normal; }

.mob-circle-item {
  margin: 0 0 10px 0; }
  .mob-circle-item.active .img {
    background: #003468; }
    .mob-circle-item.active .img img {
      display: none; }
    .mob-circle-item.active .img img.active {
      display: block; }
    .mob-circle-item.active .img svg path {
      fill: #fff; }
  .mob-circle-item .img {
    display: -ms-flexbox;
    display: flex;
    background: #F2F2F5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    margin: 0 auto 5px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px; }
    .mob-circle-item .img svg {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      max-height: 100%; }
    .mob-circle-item .img img {
      display: block;
      max-height: 100%; }
    .mob-circle-item .img img.active {
      display: none; }
  .mob-circle-item .text {
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    color: #1C1C1E;
    font-style: italic;
    text-align: center; }

.mob-filter-color-list {
  max-width: 215px;
  font-size: 0;
  margin: 0 -6px; }

.mob-filter-color {
  height: 31px;
  width: 31px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: none;
  margin: 0 6px 15px 6px;
  display: inline-block;
  vertical-align: top; }
  .mob-filter-color img {
    width: 100%;
    height: 100%; }

.range-slider {
  position: relative;
  height: auto; }
  .range-slider .irs .irs-min, .range-slider .irs .irs-max, .range-slider .irs .irs-from, .range-slider .irs .irs-to, .range-slider .irs .irs-single {
    display: none; }
  .range-slider .irs--round {
    height: 20px; }
    .range-slider .irs--round .irs-line {
      background: #F2F2F5;
      -webkit-border-radius: 19px;
      -moz-border-radius: 19px;
      -ms-border-radius: 19px;
      border-radius: 19px;
      height: 20px;
      top: 0; }
    .range-slider .irs--round .irs-bar {
      background: #003468;
      height: 20px;
      top: 0; }
    .range-slider .irs--round .irs-handle {
      width: 20px;
      height: 20px;
      background: #FFF;
      border: 2px solid #003468;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      top: 0;
      cursor: pointer;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15); }

.range-block .extra-controls .input {
  font-size: 0; }
  .range-block .extra-controls .input.left {
    float: left; }
  .range-block .extra-controls .input.right {
    float: right; }
    .range-block .extra-controls .input.right input {
      text-align: right; }
  .range-block .extra-controls .input input {
    float: left;
    background: none;
    border: none;
    display: inline-block;
    vertical-align: top;
    height: 20px;
    width: 75px;
    padding: 0 0 0 0;
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #1C1C1E;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }
    .range-block .extra-controls .input input:focus, .range-block .extra-controls .input input:active {
      color: #1C1C1E; }

/*# sourceMappingURL=mob_modal_filter.css.map */
