@charset "UTF-8";
.quotes-block .quotes-us:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

input:focus, a:focus, input:active, a:active {
  outline: none; }

@media (min-width: 992px) {
  /* START ╤Б╨║╤А╨╛╨╗ */
  ::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 10px;
    height: 0px; }

  ::-webkit-scrollbar-track {
    background-color: transparent; }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #c8c8c8;
    cursor: pointer;
    background-size: 100% 100%; }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #b4b2b2; }

  ::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 10px;
    height: 0px; }

  ::-webkit-scrollbar {
    width: 10px; }

  ::-webkit-scrollbar:horizontal {
    height: 10px; }

  ::-webkit-scrollbar-button {
    display: none; } }
/* END ╤Б╨║╤А╨╛╨╗ */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

*:active, *:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

body {
  padding: 0 0 0 0;
  font-family: "Lato";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  background: #fff;
  position: relative;
  min-height: 100vh; }

.no-scroll {
  overflow: hidden; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400; }

h1, .h1, h2, .h2, h3, .h3 {
  color: #000;
  font-size: 48px;
  line-height: 110%;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Giorgio Sans LCG"; }

@media (max-width: 1199px) {
  h1, .h1, h2, .h2, h3, .h3 {
    font-size: 40px;
    line-height: 110%;
    font-weight: 600; } }
@media (max-width: 991px) {
  h1, .h1, h2, .h2, h3, .h3 {
    font-size: 28px;
    line-height: 110%;
    font-weight: 600;
    margin-bottom: 30px; } }
.clearfix {
  clear: both; }

input::-webkit-input-placeholder {
  color: #000; }

input::-moz-placeholder {
  color: #000; }

input:-ms-input-placeholder {
  color: #000; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.form-control:focus, .form-control:active {
  box-shadow: none !important;
  outline: none !important; }

input.form-control {
  font-family: "Gilroy";
  border: 1px solid #BABABA;
  background: #fff !important;
  padding: 0 10px 0 10px;
  color: #BABABA;
  font-size: 16px;
  line-height: 63px;
  font-weight: 500;
  height: 65px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  input.form-control:focus, input.form-control:active {
    border: 1px solid #C0C0C0 !important;
    box-shadow: none !important;
    color: #000; }

.form-group {
  margin-bottom: 15px; }
  .form-group .label {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .form-group .label span {
      color: #FF0025; }

label.error {
  margin: 5px 0 0 0;
  color: #FF0025;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: block; }

.table-block {
  width: 100%;
  display: table; }
  .table-block .td {
    display: table-cell;
    vertical-align: top; }

.mb-45 {
  margin-bottom: 45px; }

.mb-40 {
  margin-bottom: 40px; }

.mt-50 {
  margin-top: 50px; }

.margin-10 {
  margin-left: -10px;
  margin-right: -10px; }

.float-100 {
  float: left;
  width: 100%; }

.margin-10 {
  margin-left: -10px;
  margin-right: -10px; }

.text-formatted {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  color: #000; }
  .text-formatted h4 {
    color: #0D0D0D;
    font-size: 24px;
    line-height: 110%;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Gilroy"; }
  .text-formatted a {
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms; }
  .text-formatted strong, .text-formatted b {
    font-weight: 600;
    color: #000; }
  .text-formatted p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #000; }
  .text-formatted a {
    border-bottom: 1px solid #fff;
    text-decoration: none !important;
    color: #000; }
    .text-formatted a:hover {
      color: #fff;
      border-color: transparent; }
  .text-formatted .mb-80 {
    margin-bottom: 80px; }

@media (max-width: 991px) {
  .text-formatted {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; }
    .text-formatted h4 {
      font-size: 18px;
      line-height: 26px;
      font-weight: 600;
      margin-bottom: 15px; }
    .text-formatted p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400; } }
.tab-content > .active {
  display: block !important;
  height: auto !important; }

.fade:not(.show) {
  display: block !important;
  height: 0;
  overflow: hidden; }

.tab-content {
  padding: 30px 0 0; }

.btn {
  background: none;
  color: #fff;
  font-size: 18px;
  line-height: 55px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  padding: 0 5px;
  height: 55px;
  letter-spacing: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  border: none;
  width: 100%;
  max-width: 285px; }
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(227.84deg, #B900B4 0%, #F50000 100%), #FFFFFF;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    width: auto;
    height: auto;
    z-index: -1; }
  .btn:after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(227.84deg, #F50000 0%, #B900B4 100%), #FFFFFF;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    width: auto;
    height: auto;
    z-index: -2; }
  .btn:hover {
    background: none;
    color: #fff; }
    .btn:hover:before {
      opacity: 0; }
    .btn:hover:after {
      opacity: 1; }
  .btn.white {
    color: #000; }
    .btn.white:before {
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      background: #fff; }
    .btn.white:after {
      opacity: 1;
      background: linear-gradient(90deg, #FBB139 0%, #F31754 35%, #812DBA 70%, #3E89E6 100%), #FFFFFF; }
    .btn.white:hover:before {
      opacity: 1; }
  .btn.green {
    color: #fff; }
    .btn.green:after {
      opacity: 0;
      background: linear-gradient(227.84deg, #00B9FF 0%, #28DC28 100%); }
    .btn.green:before {
      background: linear-gradient(227.84deg, #28DC28 0%, #00B9FF 100%); }
    .btn.green:hover:before {
      opacity: 0; }
    .btn.green:hover:after {
      opacity: 1; }
  .btn.violet {
    color: #fff; }
    .btn.violet:after {
      opacity: 0;
      background: linear-gradient(227.84deg, #1400C8 0%, #B900B4 100%); }
    .btn.violet:before {
      background: linear-gradient(227.84deg, #B900B4 0%, #1400C8 100%); }
    .btn.violet:hover:before {
      opacity: 0; }
    .btn.violet:hover:after {
      opacity: 1; }

.read-more {
  text-decoration: none !important;
  font-size: 48px;
  line-height: 120%;
  font-weight: 400;
  background: -webkit-linear-gradient(#B900B4, #F50000);
  background: linear-gradient(#B900B4, #F50000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase; }

@media (max-width: 991px) {
  .read-more {
    font-size: 40px;
    line-height: 40px; } }
@media (max-width: 370px) {
  .read-more {
    font-size: 35px;
    line-height: 35px; } }
.btn.focus, .btn:focus, btn:active {
  box-shadow: none !important; }

.mob-header {
  display: none; }

@media (max-width: 991px) {
  .mob-header {
    display: block;
    background: #fff;
    height: 80px;
    padding: 30px 0 0 0; }
    .mob-header .img-logo {
      text-align: center; } }
.banner-main {
  background: #F8E800;
  min-height: 530px; }
  .banner-main .container {
    max-width: 1500px;
    height: 530px; }
    .banner-main .container .row {
      height: 100%; }
      .banner-main .container .row > div {
        height: 100%; }
  .banner-main .text-block {
    padding: 150px 0 0 0; }
  .banner-main .title {
    margin-bottom: 40px; }
    .banner-main .title img {
      max-width: 286px; }
  .banner-main .text {
    font-family: "Giorgio Sans LCG";
    color: #0D0D0D;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400; }
  .banner-main .image {
    position: absolute;
    top: 50px;
    right: 50px; }
  .banner-main .column-left {
    position: relative;
    padding: 0 270px 0 0; }
  .banner-main .img {
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    left: 15px;
    height: auto;
    width: auto; }
    .banner-main .img img {
      display: none; }

@media (max-width: 1300px) {
  .banner-main .image {
    right: 0;
    max-width: 150px;
    top: 80px; }
  .banner-main .column-left {
    padding: 0 170px 0 0; } }
@media (max-width: 1150px) {
  .banner-main .image {
    right: 0;
    max-width: 120px;
    top: 80px; }
  .banner-main .column-left {
    padding: 0 140px 0 0; }
  .banner-main .text {
    font-size: 35px;
    line-height: 40px; }
  .banner-main .title img {
    max-width: 250px; } }
@media (max-width: 991px) {
  .banner-main {
    min-height: 10px; }
    .banner-main .container {
      height: auto; }
    .banner-main .row > div:first-child {
      order: 2; }
    .banner-main .row > div:last-child {
      order: 1; }
    .banner-main .img {
      position: relative;
      background: none !important;
      left: auto;
      right: auto;
      margin: 0 -15px; }
      .banner-main .img img {
        display: block;
        width: 100%; }
    .banner-main .image {
      top: 20px;
      right: 30px; }
    .banner-main .column-left {
      padding: 0 180px 0 0;
      min-height: 310px; }
    .banner-main .text-block {
      padding: 80px 0 0 0; } }
@media (max-width: 575px) {
  .banner-main .container .row > div {
    height: auto; }
  .banner-main .image {
    max-width: 85px;
    right: 15px; }
  .banner-main .column-left {
    padding: 0 115px 0 0;
    min-height: 235px; }
  .banner-main .text-block {
    padding: 50px 0 0 0; }
  .banner-main .title {
    margin-bottom: 20px; }
    .banner-main .title img {
      max-width: 115px; }
  .banner-main .text {
    font-size: 28px;
    line-height: 30px; } }
.blitz {
  position: relative;
  padding: 40px 0 80px 0;
  overflow: hidden; }
  .blitz .circle-yellow {
    background: #F8E800;
    width: 418px;
    height: 418px;
    position: absolute;
    top: 210px;
    left: -210px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .blitz .container {
    max-width: 830px; }
  .blitz .top-text {
    font-family: "Gilroy";
    font-size: 25px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center; }

.card-user-list {
  margin-bottom: 80px; }

.card-user {
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.08);
  background: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  padding: 25px;
  margin: 0 0 20px 0; }
  .card-user .img {
    margin-bottom: 25px; }
    .card-user .img img {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      width: 100%; }
  .card-user .text {
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 10px; }
  .card-user .name {
    color: #FF0025;
    font-size: 28px;
    line-height: 30px;
    font-weight: 600; }
  .card-user .text-block {
    min-height: 140px; }

@media (max-width: 991px) {
  .blitz {
    padding: 25px 0 0 0; }
    .blitz .circle-yellow {
      width: 290px;
      height: 290px;
      left: -145px;
      top: 290px; }
    .blitz .top-text {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      padding: 0 15px; }

  .card-user-list {
    padding: 0 50px;
    margin-bottom: 20px; }

  .card-user {
    padding: 15px; }
    .card-user .text-block {
      min-height: 10px; }
    .card-user .img {
      margin-bottom: 15px; }
    .card-user .text {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400; }
    .card-user .name {
      font-size: 16px;
      line-height: 18px;
      font-weight: 600;
      min-height: 36px; } }
.utp-list {
  position: relative;
  margin: 0 0 80px 0; }
  .utp-list .image {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 165px; }
    .utp-list .image img {
      max-height: 345px; }

.utp {
  position: relative;
  padding: 0 0 0 85px;
  margin: 0 0 90px 0; }
  .utp:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: #F3E301;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 9px solid #fff;
    box-shadow: 0 0 0 1px #000;
    box-sizing: content-box; }
  .utp .num {
    color: #FF0025;
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    margin: 0 0 30px 0;
    font-family: "Gilroy"; }
  .utp .text {
    font-size: 38px;
    line-height: 120%;
    font-weight: 400;
    max-width: 370px; }

@media (max-width: 991px) {
  .utp-list-box {
    padding: 0 80px 0 0; }

  .utp-list {
    margin-bottom: 40px; }
    .utp-list .image {
      max-width: 65px;
      top: 15px; }

  .utp {
    padding: 0 0 0 35px;
    margin: 0 0 40px 0; }
    .utp:before {
      width: 14px;
      height: 14px;
      border-width: 4px;
      top: 4px; }
    .utp .num {
      font-size: 28px;
      line-height: 30px;
      font-weight: 600;
      margin-bottom: 5px; }
    .utp .text {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400; } }
.history {
  background: #F8E800;
  position: relative;
  padding: 40px 0 35px 0; }
  .history .container {
    max-width: 830px;
    position: relative; }
    .history .container:before {
      content: "";
      position: absolute;
      top: -40px;
      left: -210px;
      background: url(../img/bg-history.svg) no-repeat;
      width: 184px;
      height: 217px; }

@media (max-width: 991px) {
  .history {
    padding: 30px 0 35px 0; }
    .history .text-formatted p:last-child {
      margin-bottom: 0; }
    .history .container:before {
      width: 44px;
      height: 55px;
      top: -30px;
      left: 15px;
      -webkit-background-size: 100%;
      background-size: 100%; } }
@media (max-width: 360px) {
  .history h2 {
    padding-left: 30px; } }
.section-quotes {
  padding: 80px 0 40px 0;
  position: relative;
  overflow: hidden; }
  .section-quotes .ball {
    width: 363px;
    height: 363px;
    position: absolute;
    bottom: 0;
    left: -120px;
    background: url(../img/ball.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%; }

.quotes-block {
  border: 2px solid #000;
  position: relative;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background: #fff; }
  .quotes-block .quotes-top {
    position: relative; }
    .quotes-block .quotes-top:after {
      content: "";
      position: absolute;
      height: 2px;
      width: auto;
      bottom: 0;
      left: -24px;
      right: -24px;
      background: #000; }
  .quotes-block .quotes-box {
    margin: 22px;
    background: #F8E800;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px; }
  .quotes-block .quotes-text {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    padding: 25px 50px; }
    .quotes-block .quotes-text:before {
      content: "";
      width: 27px;
      height: 22px;
      position: absolute;
      background: url(../img/quotes.svg) no-repeat;
      top: 25px;
      left: 15px;
      transform: rotate(-180deg); }
    .quotes-block .quotes-text:after {
      content: "";
      width: 27px;
      height: 22px;
      position: absolute;
      background: url(../img/quotes.svg) no-repeat;
      bottom: 25px;
      right: 15px; }
  .quotes-block .quotes-us {
    padding: 25px; }
    .quotes-block .quotes-us .img {
      float: right;
      width: 135px; }
      .quotes-block .quotes-us .img img {
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        border-radius: 7px;
        width: 100%; }
    .quotes-block .quotes-us .text-block {
      margin: 0 150px 0 0;
      padding: 35px 0 0 0; }
    .quotes-block .quotes-us .name {
      font-size: 16px;
      line-height: 18px;
      font-weight: 600;
      margin-bottom: 5px;
      text-align: right; }
    .quotes-block .quotes-us .text {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      text-align: right; }

.section-qt {
  position: relative;
  padding: 70px 0 0 100px; }
  .section-qt .p-relative {
    position: relative;
    padding: 0 130px 0 0; }
  .section-qt .img {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0; }
  .section-qt .title {
    color: #FF0025;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    font-family: "Gilroy";
    margin-bottom: 15px; }

@media (max-width: 1199px) {
  .section-qt {
    padding: 70px 0 0 0; } }
@media (max-width: 991px) {
  .section-qt {
    padding: 35px 0 0 0; }
    .section-qt .img {
      width: 50px; }
    .section-qt .p-relative {
      padding: 0 60px 0 0; }

  .section-quotes {
    padding: 40px 0 0 0; }
    .section-quotes .mob-ball {
      width: 120px;
      height: 120px;
      background: url(../img/ball.png) no-repeat;
      -webkit-background-size: 100%;
      background-size: 100%;
      margin: 0 auto 15px; }
    .section-quotes .ball {
      display: none; }
    .section-quotes .mb-80 {
      margin-bottom: 25px; }

  .quotes-block {
    border: 1px solid #000; }
    .quotes-block .quotes-top:after {
      left: -16px;
      right: -16px;
      height: 1px; }
    .quotes-block .quotes-box {
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      border-radius: 25px;
      margin: 15px; }
    .quotes-block .quotes-text {
      padding: 45px 15px; }
      .quotes-block .quotes-text:before {
        top: 15px; }
      .quotes-block .quotes-text:after {
        bottom: 15px; } }
@media (max-width: 575px) {
  .quotes-block .quotes-us .text-block {
    margin: 0 0 0 0;
    padding: 15px 0 0 0;
    clear: both; } }
.mb-80 {
  margin-bottom: 80px; }

.mw-600-c {
  max-width: 605px;
  margin: 0 auto; }

.text-list {
  position: relative;
  padding: 50px 0 0 0;
  overflow: hidden; }

.text-card {
  background: #fff;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  border: 1px solid #0D0D0D;
  padding: 35px 20px;
  margin: 0 0 40px 0;
  position: relative; }
  .text-card .bg-figure {
    z-index: -1;
    position: absolute;
    background: url(../img/figure-1.svg) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 230px;
    height: 327px; }
    .text-card .bg-figure.yellow {
      background: url(../img/figure-2.svg) no-repeat; }
  .text-card .figure-1 {
    top: -70px;
    left: -55px; }
  .text-card .figure-2 {
    top: -275px;
    right: 200px; }
  .text-card .figure-3 {
    left: 130px;
    top: -130px; }
  .text-card p:last-child {
    margin-bottom: 0; }
  .text-card .title {
    color: #0D0D0D;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    font-family: "Gilroy";
    margin-bottom: 30px; }

@media (max-width: 991px) {
  .text-list .text-formatted p {
    margin-bottom: 25px; }
    .text-list .text-formatted p:last-child {
      margin-bottom: 0; }
  .text-list h2 {
    margin-bottom: 40px; }

  .text-card {
    padding: 25px 15px;
    margin: 0 0 55px 0; }
    .text-card .title {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600; }
    .text-card .bg-figure {
      width: 110px;
      height: 156px; }
      .text-card .bg-figure.yellow {
        -webkit-background-size: 100%;
        background-size: 100%; }
    .text-card .figure-1 {
      left: -30px;
      top: -40px; }
    .text-card .figure-2 {
      right: -30px;
      top: -40px; }
    .text-card .figure-3 {
      left: -30px;
      top: -40px; } }
.section-text-image {
  padding: 40px 0 50px 0;
  position: relative; }
  .section-text-image .img {
    margin: 100px 0 0 0; }
  .section-text-image .mw-230 {
    max-width: 230px; }
  .section-text-image .mw-285 {
    max-width: 285px; }
  .section-text-image .f-right {
    float: right; }

@media (max-width: 991px) {
  .section-text-image {
    padding: 0 0; }
    .section-text-image .f-right {
      float: none; }
    .section-text-image .img {
      max-width: 105px;
      margin: 0 auto 30px; } }
.pm-card-list {
  padding: 50px 0 50px 0;
  position: relative; }
  .pm-card-list .container {
    max-width: 830px; }

.pm-card {
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 40px 40px 25px 25px;
  -moz-border-radius: 40px 40px 25px 25px;
  -ms-border-radius: 40px 40px 25px 25px;
  border-radius: 40px 40px 25px 25px;
  position: relative;
  overflow: hidden;
  margin: 0 0 30px 0; }
  .pm-card .title {
    background: #F8E800;
    color: #0D0D0D;
    font-size: 24px;
    line-height: 75px;
    font-weight: 600;
    text-align: center;
    -webkit-border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -ms-border-radius: 60px 60px 60px 60px;
    border-radius: 60px 60px 60px 60px; }
  .pm-card ul {
    padding: 50px 10px 50px 10px;
    min-height: 305px; }
    .pm-card ul li {
      position: relative;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 30px;
      padding: 0 0 0 15px; }
      .pm-card ul li:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 6px;
        height: 6px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        background: #000; }
      .pm-card ul li:last-child {
        margin-bottom: 0; }

@media (max-width: 991px) {
  .pm-card-list {
    padding: 10px 0 15px 0; }

  .pm-card .title {
    font-size: 24px;
    line-height: 60px;
    font-weight: 600; }
  .pm-card ul {
    padding: 20px 40px;
    min-height: 10px; }
    .pm-card ul li {
      margin-bottom: 20px; }
      .pm-card ul li:last-child {
        margin-bottom: 0; } }
.section-text {
  padding: 50px 0 80px 0; }
  .section-text .container {
    max-width: 830px; }

@media (max-width: 991px) {
  .section-text {
    padding: 25px 0; }
    .section-text .text-formatted p:last-child {
      margin-bottom: 0; } }
.plans {
  background: #F8E800;
  position: relative;
  padding: 50px 0 60px 0;
  overflow: hidden; }
  .plans:before {
    content: "";
    background: url(../img/bg-plans.svg) no-repeat;
    width: 253px;
    height: 382px;
    position: absolute;
    top: 0;
    left: 0; }
  .plans .container {
    max-width: 830px; }
  .plans .text-formatted p:last-child {
    margin-bottom: 0; }

@media (max-width: 991px) {
  .plans {
    padding: 30px 0 30px 0; }
    .plans:before {
      transform: rotate(90deg);
      top: -13px;
      left: 30px;
      width: 53px;
      height: 80px;
      -webkit-background-size: 100%;
      background-size: 100%; } }
.plans-company {
  position: relative;
  padding: 80px 0 80px 0; }
  .plans-company .quotes-block {
    max-width: 510px;
    float: right;
    margin: 30px 0 0 0; }
  .plans-company h4 {
    text-align: center;
    margin-bottom: 40px; }

.ps-box {
  position: relative;
  padding: 0 0 0 145px; }
  .ps-box:before {
    z-index: -1;
    content: "";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 0;
    width: 383px;
    height: 383px;
    background: #FF0025; }
  .ps-box .text {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    z-index: 1;
    margin: 0 0 15px 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.08);
    border: 1px solid #F3E301;
    padding: 20px 30px;
    width: 100%;
    max-width: 390px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; }
    .ps-box .text:nth-child(even) {
      margin: 0 0 15px 100px; }

@media (max-width: 1199px) {
  .ps-box {
    padding: 0 0; }
    .ps-box:before {
      width: 290px;
      height: 290px;
      left: -145px; } }
@media (max-width: 991px) {
  .plans-company {
    padding: 40px 0; }

  .ps-box .text {
    max-width: inherit;
    margin: 0 0 15px 0 !important; } }
.modal {
  background: rgba(196, 196, 196, 0.57);
  top: auto;
  bottom: 0; }
  .modal .modal-dialog {
    max-width: 920px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto; }
  .modal .modal-content {
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: #0c0b0b;
    box-shadow: none; }

.modal-dialog .modal-header {
  position: relative;
  z-index: 10;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  display: block;
  padding: 0 60px;
  border-bottom: none;
  border-bottom: none;
  height: 50px;
  background: #0C0B0B;
  margin-bottom: 30px; }
.modal-dialog .modal-body {
  padding: 0 0 0 0; }
.modal-dialog .close {
  z-index: 5;
  width: 35px;
  height: 35px;
  background: url(../img/close.svg) center center no-repeat;
  -webkit-background-size: 20px;
  background-size: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  transform: rotate(0deg);
  opacity: 1;
  text-shadow: none; }
  .modal-dialog .close span {
    display: none;
    height: 20px;
    line-height: 15px; }

.modal-custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(196, 196, 196, 0.57);
  z-index: -1;
  opacity: 0;
  visibility: hidden; }
  .modal-custom.open {
    z-index: 900;
    opacity: 1;
    visibility: visible; }
    .modal-custom.open .modal-custom-box {
      bottom: 0;
      opacity: 1; }

.modal-custom-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  cursor: pointer; }

.modal-custom-close {
  cursor: pointer;
  z-index: 5;
  width: 35px;
  height: 35px;
  background: url(../img/close.svg) center center no-repeat;
  -webkit-background-size: 20px;
  background-size: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms; }
  .modal-custom-close:hover {
    opacity: 0.7; }

.modal-custom-box {
  z-index: 10;
  opacity: 0;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.modal-custom-boxx {
  position: relative;
  margin: 0 auto; }

.image-b {
  position: relative; }
  .image-b .link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .image-b .img {
    display: none; }
    .image-b .img img {
      display: block !important;
      width: 100%; }

@media (max-width: 1500px) {
  .modal-custom .modal-custom-close {
    right: 0;
    top: 0; } }
@media (max-width: 767px) {
  .modal-custom .modal-custom-boxx {
    padding: 50px 0 0 0; }
  .modal-custom .modal-custom-close {
    right: 0;
    top: 0; } }
@media (max-width: 575px) {
  .modal-custom .modal-custom-boxx {
    padding: 35px 0 0 0; } }
@media (max-width: 575px) {
  .modal-custom .modal-custom-boxx {
    max-width: 100%; }

  .image-b .w-320-100 {
    display: block; } }
@media (min-width: 576px) and (max-width: 767px) {
  .modal-custom .modal-custom-boxx {
    max-width: 600px; }

  .image-b .w-600-240 {
    display: block; } }
@media (min-width: 768px) and (max-width: 1200px) {
  .modal-custom .modal-custom-boxx {
    max-width: 768px; }

  .image-b .w-768-400 {
    display: block; } }
@media (min-width: 1201px) {
  .modal-custom .modal-custom-boxx {
    max-width: 1900px; }

  .image-b .w-1900-300 {
    display: block; } }
.container {
  max-width: 1230px; }

@media (max-width: 991px) {
  .container {
    max-width: 100%; } }

/*# sourceMappingURL=index.css.map */
