@charset "UTF-8";
.nav-tabs:after, .checkbox:after, .agree-block:after, .radiobox:after, .form-register .radio-list:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

input:focus, a:focus, input:active, a:active {
  outline: none; }

@media (min-width: 992px) {
  /* START ╤Б╨║╤А╨╛╨╗ */
  ::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 10px;
    height: 0px; }

  ::-webkit-scrollbar-track {
    background-color: transparent; }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #c8c8c8;
    cursor: pointer;
    background-size: 100% 100%; }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #b4b2b2; }

  ::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 10px;
    height: 0px; }

  ::-webkit-scrollbar {
    width: 10px; }

  ::-webkit-scrollbar:horizontal {
    height: 10px; }

  ::-webkit-scrollbar-button {
    display: none; } }
/* END ╤Б╨║╤А╨╛╨╗ */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

*:active, *:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

body {
  padding: 0 0 0 0;
  font-family: "Nunito Sans";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  background: #ffffff;
  position: relative;
  min-height: 100vh; }

strong, b {
  font-weight: 700;
  color: #000; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500; }

h1, .h1, h2, .h2 {
  color: #000;
  font-size: 39px;
  line-height: 118%;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 25px; }

.clearfix {
  clear: both; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms; }

p {
  font-size: 20px;
  line-height: 160%;
  font-weight: 500;
  color: #000; }

@media (max-width: 1199px) {
  h1, .h1 {
    font-size: 40px;
    line-height: 120%;
    font-weight: 500; } }
@media (max-width: 991px) {
  h1 {
    font-size: 32px;
    line-height: 120%;
    font-weight: 500;
    margin-bottom: 30px; }

  h2 {
    font-size: 32px;
    line-height: 120%;
    font-weight: 500;
    margin-bottom: 30px; } }
@media (max-width: 575px) {
  h1 {
    font-size: 25px;
    line-height: 120%;
    font-weight: 500; }

  h2 {
    font-size: 25px;
    line-height: 120%;
    font-weight: 500; } }
.form-control::-webkit-input-placeholder {
  color: #333; }

.form-control::-moz-placeholder {
  color: #333; }

.form-control:-ms-input-placeholder {
  color: #333; }

.form-control:-moz-placeholder {
  color: #333; }

.form-control:focus, .form-control:active {
  box-shadow: none !important;
  outline: none !important; }

input.form-control {
  border: 1px solid #4f4f4f;
  background: #fff !important;
  padding: 0 15px;
  color: #000;
  font-size: 18px;
  line-height: 50px;
  font-weight: 400;
  height: 52px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  border-radius: 35px; }
  input.form-control:focus, input.form-control:active {
    border: 1px solid #000;
    box-shadow: none !important;
    color: #000; }
    input.form-control:focus + .label-title, input.form-control:active + .label-title {
      color: #09A675; }

textarea.form-control {
  border: 2px solid #dddddd;
  background: #fff !important;
  padding: 20px;
  color: #898791;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  min-height: 150px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  resize: vertical; }
  textarea.form-control:focus, textarea.form-control:active {
    border: 2px solid #09A675;
    box-shadow: none !important;
    color: #000; }
    textarea.form-control:focus + .label-title, textarea.form-control:active + .label-title {
      color: #09A675; }

.form-control.birthday {
  background: #fff url(../img/callendar.svg) 96% center no-repeat !important; }

.jq-file__browse {
  font-size: 0;
  cursor: pointer !important; }

.jq-file__name {
  cursor: pointer !important; }

.jq-file.form-control {
  cursor: pointer !important;
  height: 67px;
  border: 2px solid #dddddd;
  background: #fff url(../img/file.svg) 96% center no-repeat !important;
  padding: 0 20px 0 20px;
  color: #898791;
  font-size: 18px;
  line-height: 65px;
  font-weight: 400;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }
  .jq-file.form-control:focus, .jq-file.form-control:active {
    border: 2px solid #09A675;
    box-shadow: none !important;
    color: #000; }
    .jq-file.form-control:focus + .label-title, .jq-file.form-control:active + .label-title {
      color: #09A675; }
  .jq-file.form-control input {
    cursor: pointer !important; }

.form-group {
  margin-bottom: 30px; }
  .form-group .label {
    color: #000;
    font-size: 23px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: none; }

label.error {
  margin: 5px 0 0 0;
  color: #ec1717;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: block; }

.table-block {
  width: 100%;
  display: table; }
  .table-block .td {
    display: table-cell;
    vertical-align: top; }

.mb-45 {
  margin-bottom: 45px; }

.mb-40 {
  margin-bottom: 40px; }

.mt-50 {
  margin-top: 50px; }

.float-100 {
  float: left;
  width: 100%; }

.scroll-up {
  display: none;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  position: fixed;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #4ad3d6 url("../img/scroll.svg") center center no-repeat;
  -webkit-background-size: 12px auto;
  background-size: 12px auto;
  transform: rotate(90deg);
  bottom: 65px;
  right: 30px;
  cursor: pointer;
  z-index: 400; }
  .scroll-up:hover {
    opacity: 0.8; }

@media (max-width: 767px) {
  .scroll-up {
    right: 15px;
    bottom: 30px; } }
.tab-content > .active {
  display: block !important;
  height: auto !important; }

.fade:not(.show) {
  display: block !important;
  height: 0;
  overflow: hidden; }

.nav-tabs {
  border: none;
  display: block;
  margin-bottom: 25px; }
  .nav-tabs .nav-item {
    margin: 0 5px 5px 0;
    float: left; }
  .nav-tabs .nav-link {
    border: 2px solid #E7E9EE;
    color: #43434E;
    text-decoration: none !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    padding: 10px 10px;
    position: relative; }
    .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
      border-color: #4ad3d6; }

.margin-10 {
  margin-left: -10px;
  margin-right: -10px; }

.margin-15 {
  margin-left: -15px;
  margin-right: -15px; }

.tab-content > .active {
  display: block !important;
  height: auto !important; }

.fade:not(.show) {
  display: block !important;
  height: 0;
  overflow: hidden; }

.section-text {
  padding: 90px 0 80px 0; }
  .section-text .line {
    width: 100%;
    max-width: 385px;
    height: 1px;
    background: #231f20;
    margin: 40px auto 40px; }

.text-formatted {
  font-size: 25px;
  line-height: 140%;
  font-weight: 400; }
  .text-formatted p {
    font-size: 25px;
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 20px; }
    .text-formatted p:last-child {
      margin-bottom: 0; }
  .text-formatted a {
    border-bottom: 1px solid #000;
    text-decoration: none !important;
    color: #000; }
    .text-formatted a:hover {
      color: #000;
      border-color: transparent; }

@media (max-width: 767px) {
  .section-text {
    padding: 30px 0; }
    .section-text .line {
      margin: 25px 0; }

  .text-formatted {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500; }
    .text-formatted p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500; } }
.cookie {
  background: #B6997C;
  margin: 0 0;
  padding: 15px 0 10px 0; }
  .cookie .text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #fff; }
  .cookie .btn-outline {
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    border: 1px solid #ffffff;
    margin: 17px 20px 0 0;
    padding: 0 20px 0 20px; }
    .cookie .btn-outline:before {
      display: none; }
    .cookie .btn-outline:hover {
      padding-right: 20px;
      border-color: transparent; }
  .cookie .link {
    display: inline-block;
    vertical-align: top;
    margin: 22px 0 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none !important;
    color: #ffffff !important;
    border-bottom: 1px solid #fff; }
    .cookie .link:hover {
      border-color: transparent; }

@media (max-width: 991px) {
  .cookie {
    padding-bottom: 15px; }
    .cookie .btn-outline {
      margin-left: 0; } }
.page {
  padding: 80px 0 80px 0; }

@media (max-width: 1300px) {
  .page {
    padding: 100px 0 50px 0; } }
@media (max-width: 991px) {
  .page {
    padding: 30px 0 30px 0; } }
.btn {
  background: #4ad3d6;
  color: #ffffff;
  font-size: 18px;
  line-height: 60px;
  font-weight: 500;
  text-transform: none;
  position: relative;
  padding: 0 50px;
  height: 60px;
  letter-spacing: 0px;
  border: 1px solid #4ad3d6;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  z-index: 1;
  overflow: hidden; }
  .btn:hover {
    background: #fff;
    color: #4ad3d6; }
    .btn:hover:before {
      height: 100%; }
  .btn input {
    display: block;
    text-align: center;
    padding: 0 0;
    width: 100%;
    background: none;
    border: none;
    text-shadow: none;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    box-shadow: none !important;
    color: #ffffff;
    cursor: pointer; }
  .btn.btn-submit {
    padding: 0; }
  .btn.black {
    background: #000;
    color: #fff;
    border: 1px solid transparent; }
    .btn.black:hover {
      border-color: #000;
      color: #000;
      background: #fff; }
      .btn.black:hover input {
        color: #000; }

.btn-outline {
  background: rgba(255, 255, 255, 0.1);
  height: 48px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  padding: 0 30px;
  color: #fff;
  position: relative;
  text-decoration: none !important;
  border: 1px solid #fff;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden; }
  .btn-outline:hover {
    background: #4c4c4c;
    color: #000; }
    .btn-outline:hover:before {
      height: 100%; }
  .btn-outline:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    background: #fff;
    z-index: -1; }
  .btn-outline.red {
    border: 2px solid #ec1717;
    background: #ffffff;
    color: #ec1717; }
    .btn-outline.red:hover {
      background: #ec1717;
      color: #fff; }

@-webkit-keyframes move {
  0% {
    left: 0; }
  20% {
    left: 100%; }
  100% {
    left: 100%; } }
@-moz-keyframes move {
  0% {
    left: 0; }
  20% {
    left: 100%; }
  100% {
    left: 100%; } }
@-ms-keyframes move {
  0% {
    left: 0; }
  20% {
    left: 100%; }
  100% {
    left: 100%; } }
@-o-keyframes move {
  0% {
    left: 0; }
  20% {
    left: 100%; }
  100% {
    left: 100%; } }
@keyframes move {
  0% {
    left: 0; }
  20% {
    left: 100%; }
  100% {
    left: 100%; } }
.btn-effect-1 {
  overflow: hidden;
  position: relative; }
  .btn-effect-1:after {
    content: "";
    display: block;
    width: 30px;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
    -webkit-transform: skew(-10deg, 0);
    -moz-transform: skew(-10deg, 0);
    -ms-transform: skew(-10deg, 0);
    -o-transform: skew(-10deg, 0);
    transform: skew(-10deg, 0);
    -webkit-animation: move 5s linear infinite;
    -moz-animation: move 5s linear infinite;
    -ms-animation: move 5s linear infinite;
    -o-animation: move 5s linear infinite;
    animation: move 5s linear infinite; }

input.btn.btn-grey:hover {
  background: #697177; }

.btn.focus, .btn:focus, btn:active {
  box-shadow: none !important; }

.link-w {
  text-decoration: none !important;
  color: #ffffff !important;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 1px solid #ffffff; }
  .link-w:hover {
    border-color: transparent; }

.link-b {
  text-decoration: none !important;
  color: #5884C6 !important;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 1px solid #5884C6; }
  .link-b:hover {
    border-color: transparent; }

.read-more {
  color: #FCCE00;
  text-decoration: none;
  font-size: 23px;
  line-height: 25px;
  font-weight: 500;
  font-style: italic;
  border-bottom: 1px solid #FCCE00;
  display: inline-block;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  position: relative; }
  .read-more:hover {
    color: #FCCE00;
    border-color: transparent;
    text-decoration: none; }

.link-dashed {
  text-decoration: none;
  color: #000;
  border-bottom: 1px dashed #000; }
  .link-dashed:hover {
    border-color: transparent; }

@media (max-width: 575px) {
  .btn.sm-2-line {
    height: auto;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    padding: 15px 15px 13px 15px; } }
.jq-selectbox {
  height: 52px;
  width: auto;
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  border-radius: 35px;
  cursor: pointer;
  border: 1px solid #000; }
  .jq-selectbox.select-search .jq-selectbox__select .jq-selectbox__trigger {
    display: none; }
  .jq-selectbox .jq-selectbox__search input {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    font-weight: 600;
    padding: 0 20px;
    color: #958e8e;
    border: 2px solid #B3B3B3;
    border-bottom: none;
    background: #fff; }
  .jq-selectbox .jq-selectbox__not-found[style] + ul {
    box-shadow: none; }
  .jq-selectbox .jq-selectbox__not-found {
    background: none;
    display: block;
    font-size: 15px;
    line-height: 50px;
    font-weight: 600;
    padding: 0 20px;
    color: #958e8e;
    opacity: 1;
    background: #fff;
    border: 2px solid #B3B3B3;
    margin: 0 0; }
  .jq-selectbox.opened .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
    transform: rotate(180deg); }
  .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
    height: 46px;
    font-size: 23px;
    line-height: 50px;
    font-weight: 700;
    color: #000;
    padding-right: 60px;
    padding-left: 25px;
    width: auto !important;
    max-width: 100%; }
  .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px; }
    .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
      background: url("../img/select.svg") center center no-repeat;
      content: "";
      position: absolute;
      margin: -5px -3px 0 0;
      top: 50%;
      right: 50%;
      width: 20px;
      height: 12px;
      transform: rotate(0deg);
      opacity: 1; }
  .jq-selectbox .jq-selectbox__dropdown {
    position: absolute;
    top: 50px !important;
    left: -2px !important;
    right: -2px !important;
    width: auto !important;
    bottom: auto !important; }
    .jq-selectbox .jq-selectbox__dropdown ul {
      display: block;
      width: 100%;
      position: absolute;
      min-width: 155px;
      max-height: 365px !important;
      background: #fff;
      border: 1px solid #44404F;
      padding: 0 0;
      margin: 0;
      list-style: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      overflow-y: auto; }
      .jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
        background-color: #DFDFDF; }
      .jq-selectbox .jq-selectbox__dropdown ul::-webkit-resizer {
        width: 6px; }
      .jq-selectbox .jq-selectbox__dropdown ul::-webkit-scrollbar {
        width: 6px;
        background: #f6f6f6; }
      .jq-selectbox .jq-selectbox__dropdown ul li {
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        padding: 8px 20px 8px 20px;
        -webkit-transition-duration: 300ms;
        -moz-transition-duration: 300ms;
        -ms-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
        white-space: normal; }
        .jq-selectbox .jq-selectbox__dropdown ul li:last-child {
          border-bottom: none; }
        .jq-selectbox .jq-selectbox__dropdown ul li:hover {
          background: #DFDFDF; }

@media (max-width: 991px) {
  .jq-selectbox .jq-selectbox__dropdown ul {
    max-height: 290px !important; }

  .jq-selectbox {
    height: 50px;
    border: 1px solid #808080; }
    .jq-selectbox .jq-selectbox__dropdown {
      top: 50px !important; }
    .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
      height: 50px;
      line-height: 50px; } }
.qty .jq-number {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 120px;
  border: none;
  background: #fff; }
  .qty .jq-number .jq-number__spin {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    cursor: pointer;
    border: 2px solid #ec1717;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
  .qty .jq-number .minus {
    left: 0; }
    .qty .jq-number .minus:before {
      content: "";
      position: absolute;
      top: 11px;
      left: 6px;
      height: 2px;
      background: #ec1717;
      width: 12px; }
  .qty .jq-number .plus {
    right: 0; }
    .qty .jq-number .plus:before {
      content: "";
      position: absolute;
      top: 11px;
      left: 6px;
      height: 2px;
      background: #ec1717;
      width: 12px; }
    .qty .jq-number .plus:after {
      content: "";
      position: absolute;
      top: 7px;
      left: 11px;
      height: 12px;
      background: #ec1717;
      width: 2px; }
  .qty .jq-number .jq-number__field input {
    opacity: 1 !important;
    width: 100%;
    padding: 0 24px;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    border: none;
    background: none; }

.checkbox {
  margin: 0 0 15px 0; }
  .checkbox.select-all label:after {
    border-color: #CDCDCD; }
  .checkbox.select-all input:checked + label:after {
    border-color: #FCCE00; }
  .checkbox input {
    width: 20px;
    height: 20px;
    background: none;
    display: block;
    opacity: 0;
    float: left; }
    .checkbox input:checked + label:before {
      opacity: 1; }
    .checkbox input[checked="checked"] + label:before {
      opacity: 1; }
    .checkbox input[checked="checked"] + label {
      color: #000; }
  .checkbox input:checked + label {
    color: #000 !important; }
  .checkbox label {
    cursor: pointer;
    padding: 1px 0 0 30px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #8f8888;
    margin: 0;
    position: relative;
    display: block;
    text-align: left;
    text-transform: uppercase; }
    .checkbox label:before {
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;
      opacity: 0;
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      background: #8F8888;
      z-index: 2;
      -webkit-border-radius: 0%;
      -moz-border-radius: 0%;
      -ms-border-radius: 0%;
      border-radius: 0%; }
    .checkbox label:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: #f4f3f3;
      border: 1px solid #8f8888;
      -webkit-border-radius: 0%;
      -moz-border-radius: 0%;
      -ms-border-radius: 0%;
      border-radius: 0%;
      display: block;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms; }
    .checkbox label a {
      color: #FCCE00;
      border-bottom: 1px solid #FCCE00;
      text-decoration: none; }
      .checkbox label a:hover {
        border-color: transparent; }
  .checkbox label.error {
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    padding: 0; }
  .checkbox input.error + label + label:before {
    opacity: 0; }
  .checkbox input.error + label + label:after {
    border-color: #ec1717; }
  .checkbox input.valid + label + label:before {
    opacity: 1; }
  .checkbox input.valid + label + label:after {
    border-color: #FCCE00; }

.agree-block input {
  width: 24px;
  height: 24px;
  background: none;
  display: block;
  opacity: 0;
  float: left; }
  .agree-block input:checked + label:before {
    opacity: 1; }
.agree-block label {
  cursor: pointer;
  padding: 7px 0 0 32px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #898791;
  margin: 0;
  position: relative;
  display: block;
  text-transform: none; }
  .agree-block label:before {
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    opacity: 0;
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 24px;
    height: 24px;
    background: url(../img/checkbox.svg) center center no-repeat;
    z-index: 2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  .agree-block label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: 2px solid #E7E9EE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    display: block; }
  .agree-block label a {
    color: #FCCE00;
    border-bottom: 1px solid #FCCE00;
    text-decoration: none; }
    .agree-block label a:hover {
      border-color: transparent; }
.agree-block label.error {
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  padding: 0; }
.agree-block input.error + label + label:before {
  opacity: 0; }
.agree-block input.error + label + label:after {
  border-color: #ec1717; }
.agree-block input.valid + label + label:before {
  opacity: 1; }
.agree-block input.valid + label + label:after {
  border-color: #FCCE00; }

.text-switch {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  color: #000; }
  .text-switch.left {
    margin: 0 5px 0 0; }
  .text-switch.right {
    margin-left: 5px; }

.checkbox-switch {
  cursor: pointer;
  display: block;
  vertical-align: top;
  position: relative; }
  .checkbox-switch input {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer; }
    .checkbox-switch input:checked + label:after {
      background: #D0D0D0; }
    .checkbox-switch input:checked + label:before {
      right: 22px; }
  .checkbox-switch label {
    padding: 0 65px 0 0;
    display: block;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    cursor: pointer;
    text-transform: lowercase; }
    .checkbox-switch label:first-letter {
      text-transform: uppercase; }
    .checkbox-switch label:after {
      width: 48px;
      height: 28px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      cursor: pointer;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;
      content: "";
      position: absolute;
      top: 3px;
      right: 0;
      background: #06D6A0; }
    .checkbox-switch label:before {
      z-index: 2;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;
      content: "";
      width: 24px;
      height: 24px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      right: 2px;
      background: #ffffff; }

.radiobox {
  margin: 0 0 15px 0; }
  .radiobox.select-all label:after {
    border-color: #CDCDCD; }
  .radiobox.select-all input:checked + label:after {
    border-color: #FCCE00; }
  .radiobox input {
    width: 25px;
    height: 25px;
    background: none;
    display: block;
    opacity: 0;
    float: left; }
    .radiobox input:checked + label:before {
      opacity: 1; }
    .radiobox input[checked="radio"] + label:before {
      opacity: 1; }
    .radiobox input[checked="radio"] + label {
      color: #000; }
  .radiobox input:checked + label {
    color: #000 !important; }
  .radiobox label {
    cursor: pointer;
    padding: 1px 0 0 30px;
    font-size: 23px;
    line-height: 25px;
    font-weight: 700;
    color: #000;
    margin: 0;
    position: relative;
    display: block;
    text-align: left;
    text-transform: none; }
    .radiobox label:before {
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms;
      opacity: 0;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      background: #ffffff;
      border: 8px solid #3776ea;
      z-index: 2;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .radiobox label:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      background-color: #fff;
      border: 1px solid #acacac;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      display: block;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      -ms-transition-duration: 300ms;
      -o-transition-duration: 300ms;
      transition-duration: 300ms; }

header.header {
  padding: 120px 0;
  background: #fff; }
  header.header .text {
    font-size: 74px;
    line-height: 74px;
    font-weight: 600;
    color: #231f20;
    text-transform: uppercase;
    text-align: center;
    font-family: "Gotham Pro"; }

@media (max-width: 1199px) {
  header.header {
    padding: 65px 0; }
    header.header .text {
      font-size: 45px;
      line-height: 45px; } }
@media (max-width: 575px) {
  header.header {
    padding: 50px 0; }
    header.header .text {
      font-size: 30px;
      line-height: 30px; } }
.banner-auth {
  position: relative;
  min-height: 850px;
  padding: 0 0 270px 0; }
  .banner-auth:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b734b1;
    opacity: 0.7;
    content: "";
    z-index: 2; }
  .banner-auth:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../img/banner-auth-bottom.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    z-index: 3;
    height: 200px; }
  .banner-auth .img {
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .banner-auth .banner-auth-box {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    z-index: 4; }
  .banner-auth .title {
    margin-bottom: 50px; }
  .banner-auth .text-center {
    margin-bottom: 130px; }
  .banner-auth h2, .banner-auth h1 {
    font-size: 74px;
    line-height: 80px;
    font-weight: 600;
    font-family: "Gotham Pro";
    text-transform: uppercase;
    color: #ffffff;
    text-align: center; }

@media (max-width: 1399px) {
  .banner-auth h2, .banner-auth h1 {
    font-size: 55px;
    line-height: 60px; } }
@media (max-width: 991px) {
  .banner-auth {
    min-height: 600px;
    padding: 0 0 130px 0; }
    .banner-auth:after {
      height: 120px; }
    .banner-auth h2, .banner-auth h1 {
      font-size: 35px;
      line-height: 40px; } }
@media (max-width: 575px) {
  .banner-auth {
    min-height: 450px;
    padding: 0 0 70px 0; }
    .banner-auth:after {
      height: 50px; }
    .banner-auth h2, .banner-auth h1 {
      font-size: 25px;
      line-height: 30px; }
    .banner-auth .banner-auth-box {
      position: relative;
      padding: 60px 0 0 0;
      top: 0; }
    .banner-auth .text-center {
      margin-bottom: 0; } }
@media (max-width: 450px) {
  .banner-auth {
    min-height: 380px; } }
.utp-ask-image {
  background: #d7f5f6;
  position: relative; }
  .utp-ask-image .container {
    max-width: 1370px; }

.utp-circle-list {
  font-size: 0;
  text-align: center; }
  .utp-circle-list > div {
    display: inline-block;
    vertical-align: top; }

.utp-circle {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  margin: 0 3px 6px;
  display: inline-block;
  vertical-align: top;
  width: 186px;
  height: 186px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 20px solid #4ad3d6;
  background: #fff;
  box-shadow: -10px 7px 0px 5px rgba(74, 211, 214, 0.2); }
  .utp-circle .text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    flex-direction: column; }
    .utp-circle .text span {
      font-weight: 700; }

@media (max-width: 1199px) {
  .utp-ask-image {
    padding: 0 0 50px 0; } }
@media (max-width: 991px) {
  .utp-ask-image {
    padding-bottom: 20px; }
    .utp-ask-image .img {
      margin: 0 0 30px 0;
      text-align: center; } }
@media (max-width: 575px) {
  .utp-circle {
    border: 8px solid #4ad3d6;
    width: 150px;
    height: 150px; } }
@media (max-width: 350px) {
  .utp-circle {
    border: 4px solid #4ad3d6;
    width: 135px;
    height: 135px; } }
@media (min-width: 1200px) {
  .professionals-list .row {
    margin-left: -30px;
    margin-right: -30px; }
    .professionals-list .row > div {
      padding-left: 30px;
      padding-right: 30px; } }
.professionals-list {
  position: relative;
  padding: 35px 0 50px 0; }
  .professionals-list h2 {
    font-size: 74px;
    line-height: 78px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #b734b1;
    margin-bottom: 25px;
    font-family: "Gotham Pro"; }
  .professionals-list .text-formatted {
    text-align: center;
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
    margin: 0 0 50px 0; }
  .professionals-list .img {
    position: relative;
    margin: 0 0 25px 0; }
    .professionals-list .img img {
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      display: block;
      width: 100%;
      overflow: hidden; }
  .professionals-list .link-list .link {
    margin-bottom: 15px;
    text-align: center; }
    .professionals-list .link-list .link a {
      font-size: 25px;
      line-height: 27px;
      font-weight: 400;
      text-decoration: none !important;
      color: #000 !important;
      border-bottom: 1px solid transparent; }
      .professionals-list .link-list .link a:hover {
        border-color: #000; }

@media (max-width: 1199px) {
  .professionals-list h2 {
    font-size: 50px;
    line-height: 55px; } }
@media (max-width: 991px) {
  .professionals-list .link-list .link a {
    font-size: 18px;
    line-height: 22px; } }
@media (max-width: 767px) {
  .professionals-list h2 {
    font-size: 25px;
    line-height: 30px; }
  .professionals-list .text-formatted {
    font-size: 20px;
    line-height: 25px; } }
.bg-blue {
  background: url(../img/bg-blue.png) center top no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }

@media (max-width: 1199px) {
  .bg-blue {
    background: none; } }
.acting-auditions {
  padding: 0 0 0 0;
  background: #fedeff url(../img/bg-aa.jpg) center 0 no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }
  .acting-auditions .title {
    padding: 185px 0 0 0;
    margin-bottom: 25px; }
  .acting-auditions h2 {
    font-size: 39px;
    line-height: 42px;
    font-weight: 600;
    color: #000; }
  .acting-auditions .text-formatted {
    font-size: 25px;
    line-height: 32px;
    font-weight: 400;
    padding: 0 0 90px 0; }
  .acting-auditions .img {
    float: right; }

@media (max-width: 1199px) {
  .acting-auditions .title {
    padding: 100px 0px 0px; } }
@media (max-width: 767px) {
  .acting-auditions {
    padding: 0 0 30px 0; }
    .acting-auditions .title {
      padding: 60px 0 0 0; }
    .acting-auditions h2 {
      font-size: 30px;
      line-height: 35px; }
    .acting-auditions .text-formatted {
      font-size: 20px;
      line-height: 25px;
      padding: 0 0 30px 0px; }
    .acting-auditions .img {
      float: none;
      text-align: center; } }
.register-block {
  background: #000;
  padding: 180px 0 60px 0;
  position: relative;
  margin: 0 0 170px 0; }
  .register-block:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 181px;
    background: url(../img/bg-pink-bottom.png) center top no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
  .register-block:after {
    content: "";
    position: absolute;
    bottom: -170px;
    left: 0;
    right: 0;
    background: url(../img/bg-black-bottom.png) center top no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 170px; }

.form-register {
  background: #fff;
  position: relative;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  padding: 90px 60px;
  max-width: 1185px;
  margin: 0 auto; }
  .form-register h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    margin-bottom: 40px; }
  .form-register .radio-list {
    margin: 17px 0 0 0; }
    .form-register .radio-list .radiobox {
      float: left;
      margin: 0 15px 0 0; }
  .form-register .jq-selectbox {
    width: 100%; }
  .form-register .btn-submit {
    height: 35px;
    line-height: 35px;
    width: 185px;
    margin: 0 auto;
    display: block; }

@media (max-width: 1199px) {
  .register-block {
    padding: 125px 0px 60px; }
    .register-block:before {
      height: 110px; } }
@media (max-width: 991px) {
  .register-block {
    margin: 0 0 90px 0; }
    .register-block:after {
      bottom: -69px;
      height: 70px; }

  .form-register {
    padding: 30px 20px;
    border-radius: 20px; }
    .form-register h3 {
      font-size: 25px;
      line-height: 30px; }
    .form-register .form-group .label {
      font-size: 18px;
      line-height: 20px; } }
@media (max-width: 575px) {
  .register-block {
    padding: 75px 0px 40px; }
    .register-block:after {
      bottom: -69px; }
    .register-block:before {
      height: 60px; } }
.useful-links {
  background: #b634b1;
  padding: 60px 0;
  position: relative;
  overflow: hidden; }
  .useful-links h2 {
    color: #ffffff;
    margin-bottom: 50px; }
  .useful-links .link {
    margin-bottom: 25px;
    text-align: center; }
    .useful-links .link:last-child {
      margin-bottom: 0; }
    .useful-links .link a {
      text-decoration: none !important;
      color: #fff !important;
      border-bottom: 1px solid transparent; }
      .useful-links .link a:hover {
        border-color: #fff; }

@media (max-width: 991px) {
  .useful-links {
    padding: 35px 0px; }
    .useful-links h2 {
      margin-bottom: 30px; }
    .useful-links .link {
      margin-bottom: 10px; } }
.modal {
  background: rgba(255, 255, 255, 0.8); }
  .modal .modal-dialog {
    max-width: 880px; }
  .modal .modal-content {
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.06);
    padding: 60px 60px 60px 60px;
    position: relative; }
  .modal .jq-selectbox .jq-selectbox__dropdown ul {
    max-height: 180px !important; }

.modal-dialog .modal-header {
  position: relative;
  z-index: 10;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  display: block;
  padding: 0 0;
  border-bottom: none;
  margin-bottom: 45px;
  border-bottom: none; }
.modal-dialog .modal-body {
  padding: 0 0 0; }
.modal-dialog .modal-title {
  font-size: 48px;
  line-height: 110%;
  font-weight: 500;
  color: #000;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
  position: relative; }
.modal-dialog .close {
  width: 40px;
  height: 40px;
  background: url(../img/close.svg) center center no-repeat;
  -webkit-background-size: 14px;
  background-size: 14px;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 0;
  font-weight: 400;
  color: #fff;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  transform: rotate(0deg);
  opacity: 0.5;
  text-shadow: none;
  z-index: 10; }
  .modal-dialog .close span {
    display: none; }

@media (max-width: 991px) {
  .modal {
    padding-left: 15px !important;
    padding-right: 15px !important; }
    .modal .modal-content {
      padding: 30px 20px; }

  .modal-dialog .modal-title {
    font-size: 25px; } }
.form-anketa .btn {
  width: 100%;
  padding: 0 10px;
  text-align: center; }
.form-anketa input.form-control {
  height: 67px;
  line-height: 67px; }
.form-anketa .form-group {
  position: relative;
  margin-bottom: 15px; }
  .form-anketa .form-group .label-title {
    z-index: 2;
    position: absolute;
    top: -10px;
    left: 15px;
    background: #fff;
    padding: 0 10px;
    color: #898791;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top; }

.success-sent {
  padding: 130px 0;
  max-width: 550px;
  margin: 0 auto; }
  .success-sent .img {
    max-width: 80px;
    margin: 0 auto 30px; }
  .success-sent h2 {
    margin-bottom: 30px;
    text-align: center; }
  .success-sent .text-formatted {
    font-weight: 500;
    text-align: center; }

.container {
  max-width: 1300px; }

@media (max-width: 991px) {
  .container {
    max-width: 100%; } }

/*# sourceMappingURL=index.css.map */
